@mixin mytransition($propiedad, $duracion, $tipo:ease-out, $delay: null){
    -webkit-transition	: $propiedad $duracion $tipo $delay;
    -moz-transition		: $propiedad $duracion $tipo $delay;
    -o-transition		: $propiedad $duracion $tipo $delay;
    transition 			: $propiedad $duracion $tipo $delay;
}

%botonPrim {
	color: $c-text-white;
    cursor: pointer;
    background: #000;
    padding: 13px 30px;
    float: left;
    font-size: 12px;
    text-transform: uppercase;
    font-family: $f-stack-default;
    letter-spacing: 3px;
    transition: opacity 300ms;
    border: 1px solid black;
    &:hover{
        text-decoration: none;
        opacity: 0.8;
    }
}