/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Mar 15, 2015, 12:36:39 AM
    Author     : lovel
*/

.store-pickup-map-box {
    overflow: hidden;
    height: inherit;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.store-pickup-map-box * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.app-viewcard-strip {
    position: absolute;
    z-index: 2;
    bottom: 0px;
    left: 0px;
    right: 0px;
    transition: left 300ms cubic-bezier(0.4, 0, 0.2, 1) 100ms;
   -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.app-widget-viewcard {
    display: block;
}
.app-widget-viewcard-open {
    display: block;
}
/*app-bottom-content-anchor*/
.app-bottom-content-anchor {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 0px;
    bottom: 100%;
    margin-bottom: 24px;
    transform: translateZ(0px);
}
.app-horizontal-widget-holder {
    position: absolute;
    right: 30px;
    bottom: 0px;
    white-space: nowrap;
    z-index: 1;
    max-height: 30px;
    transform: translateZ(0px);
}
.app-horizontal-item {
    position: relative;
    float: left;
    transform: translateZ(0px);
}
.widget-expand-button-pegman {
    cursor: pointer;
    height: 30px;
    width: 114px;
    font-family: Roboto,Arial,sans-serif;
    background-color: #FFF;
    border-radius: 2px;
    padding: 0px;
    border: medium none;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
}
.widget-expand-button-pegman-background {
    outline-offset: -1px;
    cursor: grab;
    height: 100%;
    position: relative;
}
.widget-expand-button-pegman-background .street-view-control {
    -moz-user-select: none;
}
.widget-expand-button {
    outline-offset: -1px;
    position: absolute;
    width: 113px;
    height: 100%;
    cursor: pointer;
    left: 0;
}
.widget-expand-button-label {
    height: 30px;
    width: 90px;
    line-height: 30px;
    position: absolute;
    top: 0px;
    left: 0px;
    display: block;
    cursor: pointer;
    text-align: left;
    font-family: "Roboto";
    font-style: normal;
    font-size: 12px;
    font-weight: 400;
    color: transparent;
    background-image: url("../../../images/magestore/storepickup/expand_button_label_60x16.png");
    background-repeat: no-repeat;
    background-position: 8px 8px;
    color: transparent;
    background-attachment: scroll;
}
.widget-expand-button .widget-expand-button-icon {
    background-position: 0px -15px;
}
.widget-expand-button:hover .widget-expand-button-icon {
    background-position: -15px -15px;
}
.widget-expand-button-icon {
    background: url("../../../images/magestore/storepickup/expand_button_icon_90x30.png");
    background-repeat: no-repeat;
    background-position: 0px 0px;
    background-attachment: scroll;
    color: transparent;

    cursor: pointer;
    position: absolute;
    width: 15px;
    height: 15px;
    top: 7px;
    right: 7px;
}
.widget-runway-tray-open .widget-expand-button-label {
    color: #222;
    background: none repeat scroll 0% 0% transparent;
    text-align: center;
    margin-left: 6px;
    margin-right: 22px;
    white-space: nowrap;
    overflow: hidden;
}
.widget-runway-tray-open .widget-expand-button:hover .widget-expand-button-icon {
    background-position: -15px 0px;
}
.widget-runway-tray-open .widget-expand-button .widget-expand-button-icon {
    background-position: 0px 0px;
}
/* End app-bottom-content-anchor*/

/* Zoom full screen control*/
.full-screen-map {
    width: 29px;
    height: 29px;
    cursor: pointer;
    position: relative;
    -moz-user-select: none;
}
.full-screen-map-btn {
    background-color: #FFF;
    border-radius: 2px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
    display: block;
    width: 29px;
    height: 29px;
    overflow: hidden;
    cursor: pointer;
}
.full-screen-map-btn-icon-common {
    display: block;
    height: 27px;
    left: 1px;
    margin: 0px;
    padding: 0px;
    position: absolute;
    top: 1px;
    width: 27px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: 70% auto;
    opacity: 0.8;
}
.full-screen-map .contract {
    background-image: url("../../../images/magestore/storepickup/contract.png");
}
.full-screen-map .expland {
    background-image: url("../../../images/magestore/storepickup/expand.png");
}
/* End Zoom full screen control*/

/*Zoom control */
.app-vertical-widget-holder {
    position: absolute;
    width: 30px;
    right: 30px;
    bottom: 32px;
    z-index: 4;
    transform: translateZ(0px);
}
.app-vertical-item {
    margin-top: 3px;
    transform: translateZ(0px);
}
.widget-mylocation {
    width: 29px;
    height: 29px;
    cursor: pointer;
    position: relative;
    -moz-user-select: none;
}
.widget-mylocation-button {
    background-color: #FFF;
    border-radius: 2px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
    display: block;
    width: 29px;
    height: 29px;
    overflow: hidden;
    cursor: pointer;
}
.widget-mylocation-button .widget-mylocation-cookie.widget-mylocation-button-normal,
.widget-mylocation-button .widget-mylocation-cookieless.widget-mylocation-button-normal {
    background-position: 0px 0px;
}

.widget-mylocation-button:hover .widget-mylocation-cookie.widget-mylocation-button-normal, .widget-mylocation-button:hover .widget-mylocation-cookieless.widget-mylocation-button-normal {
    background-position: -36px 0px;
}
.widget-mylocation-button .widget-mylocation-cookieless {
    background-image: url("../../../images/magestore/storepickup/geolocation_resize.png");
    color: transparent;
    background-repeat: no-repeat;
    background-position: 0px 0px;
    background-attachment: scroll;
}
.widget-mylocation-tooltip-invisible {
    opacity: 0;
    visibility: hidden;
}
.widget-mylocation-tooltip {
    position: absolute;
    transition: opacity 0.13s ease-out 0.109s;
    vertical-align: baseline;
    line-height: normal;
    right: 100%;
    top: -1px;
}
.widget-mylocation-tooltip-label-wrapper {
    background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.85);
    box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.2);
    border: 1px solid #FFF;
    border-radius: 0.25px;
    min-width: 40px;
}
.widget-mylocation-tooltip-label {
    cursor: pointer;
    padding: 7px 15px;
    color: #FFF;
    font-size: 12px;
    font-weight: bold;
    min-width: 100px;
}
.widget-mylocation-update-link {
    cursor: pointer;
    display: block;
    margin-top: 10px;
}
a, a:link, a:visited, a:active {
color: #000;
}
.widget-mylocation-link-learn-more {
    display: block;
    font-weight: 400;
    line-height: 17px;
    color: #3A84DF;
}
.widget-mylocation-tooltip-pointer {
    position: absolute;
    width: 0px;
    height: 0px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent #FFF;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    z-index: 1;
    right: -10px;
    top: 10px;
}
.widget-mylocation-tooltip-pointer::after {
    position: absolute;
    width: 0px;
    height: 0px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent #000;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    content: "";
    right: -3px;
    top: -5px;
}
.widget-mylocation-button-icon-common {
    display: block;
    height: 18px;
    left: 6px;
    margin: 0px;
    padding: 0px;
    position: absolute;
    top: 6px;
    width: 18px;
}
.widget-zoom {
    background-clip: padding-box;
    height: 57px;
    width: 29px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
    z-index: 0;
    position: relative;
    outline: medium none;
    cursor: pointer;
    -moz-user-select: none;
}
.widget-zoom-button.widget-zoom-in {
    top: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.widget-zoom-button {
    background-color: #FFF;
    border-radius: 2px;
    display: block;
    height: 29px;
    left: 0px;
    overflow: hidden;
    position: absolute;
    cursor: pointer;
    width: 29px;
    z-index: 2;
    transition-duration: 0.16s;
    transition-property: background-color;
    transition-timing-function: ease-out;
}
.widget-zoom-button.widget-zoom-in .widget-zoom-icon {
    background-position: 0px 0px;
}
.widget-zoom-button.widget-zoom-in:hover .widget-zoom-icon {
    background-position: -30px 0px;
}
.widget-zoom-button .widget-zoom-icon {
    background-image: url("../../../images/magestore/storepickup/zoom_icon_120x30.jpg");
    background-repeat: no-repeat;
    background-position: 0px 0px;
    background-attachment: scroll;
    color: transparent;

    display: block;
    height: 15px;
    left: 7px;
    position: absolute;
    top: 7px;
    width: 15px;
}
.widget-zoom-button.widget-zoom-out {
    bottom: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
.widget-zoom-button {
    background-color: #FFF;
    border-radius: 2px;
    display: block;
    height: 29px;
    left: 0px;
    overflow: hidden;
    position: absolute;
    cursor: pointer;
    width: 29px;
    z-index: 2;
    transition-duration: 0.16s;
    transition-property: background-color;
    transition-timing-function: ease-out;
}
.widget-zoom-button.widget-zoom-out .widget-zoom-icon {
    background-position: 0px -15px;
}
.widget-zoom-button.widget-zoom-out:hover .widget-zoom-icon {
    background-position: -30px -15px;
}

.widget-zoom-button-divider {
    background-color: #E6E6E6;
    height: 1px;
    left: 5px;
    position: absolute;
    top: 28px;
    width: 19px;
    z-index: 3;
    transition-duration: 0.16s;
    transition-property: background-color;
    transition-timing-function: ease-out;
}

.widget-zoom-tooltip {
    opacity: 1;
    position: absolute;
    transition: opacity 0.13s ease-out 0.109s;
    vertical-align: baseline;
    line-height: normal;
    z-index: 21;
    visibility: visible;
    right: 100%;
    top: 13px;
}
.widget-zoom-tooltip-invisible {
    opacity: 0;
    visibility: hidden;
}
.widget-zoom-tooltip-label-wrapper {
    background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.85);
    box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.2);
    border: 1px solid #FFF;
    border-radius: 0.25px;
    min-width: 40px;
    max-width: 200px;
}
.widget-zoom-tooltip-label {
    padding: 7px 15px;
    color: #FFF;
    font-size: 12px;
    font-weight: bold;
}
.widget-zoom-tooltip-title {
    white-space: nowrap;
}
.widget-zoom-tooltip-pointer {
    position: absolute;
    width: 0px;
    height: 0px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent #FFF;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    z-index: 1;
    right: -10px;
    top: 10px;
}
.widget-zoom-tooltip-pointer::after {
    position: absolute;
    width: 0px;
    height: 0px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent #000;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    content: "";
    right: -3px;
    top: -5px;
}
/*End Zoom contol */

.widget-runway {
    -moz-user-select: none;
    outline: medium none;
}
.widget-runway-growable {
    overflow: visible;
    line-height: 0;
    position: relative;
}
.widget-runway-tray-open .widget-runway-growable-expander {
    margin-top: -22px;
}
.widget-runway-growable-expander {
    height: 0px;
    width: 1px;
    visibility: hidden;
    transition: height 0.4s cubic-bezier(0.3, 0.3, 0.4, 0.9) 0s, margin-top 0.1s linear 0s;
}
.widget-runway-tooltip-holder {
    visibility: hidden;
    position: absolute;
    left: 0px;
    top: 0px;
}

.widget-runway-background-filler.widget-runway-background-filler-many {
    opacity: 1;
}
.widget-runway-background-filler {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: #FFF;
    opacity: 0.4;
    transition: opacity 0.4s ease 0s;
}

.widget-runway-thumbstrip-background {
    position: absolute;
    top: -2px;
    box-shadow: 0px -3px 6px rgba(0, 0, 0, 0.15);
    border-top: 2px solid #FFF;
    display: none;
    height: 130px;
    width: 100%;
}

.widget-runway-tray-render .widget-runway-thumbstrip-background {
    display: block;
}

.widget-runway-tray-wrapper {
    /*left: 145px;*/
    left: 0px;
    right: 0px;
    opacity: 1;
    top: 10px;
    z-index: 6;
    height: 112px;
    position: absolute;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    transition-property: opacity, left;
    transition-duration: 0.4s;
}
.widget-runway-tray-open .widget-runway-all-cards {
    opacity: 1;
}
.widget-runway-all-cards {
    margin: 1px;
    opacity: 0;
    padding: 0px;
    list-style-type: none;
    text-align: left;
    white-space: nowrap;
    height: 100px;
    transition: opacity 0.4s ease 0s;
}
.widget-runway-subview-card-list {
    display: inline-block;
}


/*span container */
.widget-runway-subview-card-view-container {
    display: inline-block;
    margin-right: 2px;
    height: 100px;
    width: 203px;
    position: relative;
}
.widget-runway-card-view-pane-foreground {
    z-index: 1;
}
.widget-runway-card-view-pane-visible {
    opacity: 1;
    transition: opacity 0.7s ease-in 0s;
}
.widget-runway-card-view-pane {
    position: absolute;
    left: 0px;
    top: 0px;
    /*opacity: 0;*/
    width: 100%;
    height: 100%;
    display: block;
    transition: opacity 0.2s ease-out 0.7s;
}
.widget-runway-subview-card-list .widget-runway-card {
    opacity: 1;
}
.widget-runway-card {
    cursor: pointer;
    width: 203px;
    height: 100px;
    display: inline-block;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin-right: 3px;
    z-index: 0;
    opacity: 0;
    transition: opacity 0.71s ease-in 0s;
}
.widget-runway-card-button {
    width: 100%;
    height: 100%;
    position: absolute;
    text-align: left;
    cursor: pointer;
}
.widget-runway-card-background-flicker-hack-clip {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: hidden;
    z-index: -2;
}
.widget-runway-card-background-flicker-hack-wrapper {
    display: block;
    vertical-align: middle;
    text-align: center;
    position: absolute;
    width: 500px;
    height: 500px;
    line-height: 500px;
    left: -149px;
    top: -202px;
}
.widget-runway-card-background-flicker-hack {
    vertical-align: middle;
    width: 203px;
    display: inline;
    height: 100px;
}

/* Caption */
.widget-runway-card-caption-wrapper {
    cursor: pointer;
    color: #FFF;
    font-size: 11px;
    position: absolute;
    line-height: normal;
    padding: 5px 0px 2px;
    bottom: 0px;
    left: 0px;
    width: 100%;
    background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.6));
    background-color: rgba(0, 0, 0, 0.296875);
    text-indent: 6px;
    height: 15px;
    text-shadow: 0px 1px 8px rgba(0, 0, 0, 0.7);
}

.widget-runway-card-caption .widget-runway-card-caption-icon.widget-runway-card-caption-icon-pano {
    background-position: 0px 0px;
}
.widget-runway-card-caption .widget-runway-card-caption-icon {
    /*background: url("//maps.gstatic.com/tactile/runway/card-icons-v0-1x.png") no-repeat scroll 0px 0px / 90px 15px transparent;*/
    background-color: transparent;
    background-image: url("//maps.gstatic.com/tactile/runway/card-icons-v0-1x.png");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: -19px 0px;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: 90px 15px;
    position: absolute;
    top: 2px;
    left: 6px;
    width: 18px;
    height: 15px;
}
.widget-runway-card-caption-text {
    display: block;
    cursor: pointer;
    vertical-align: middle;
    position: absolute;
    top:2px;
    left: 22px;
    width: 175px;
    height: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
}
/* End Caption */

/*End span container */
