@import url(//fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600,700);
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);

.opc-wrapper-opc .fa{font-family:"FontAwesome" !important;    margin-top: 13px;}
.opc-wrapper-opc .fa .expand_plus {
    margin: 13px 0 0;
}
.md-perspective body{background:#222;-webkit-perspective:600px;-moz-perspective:600px;perspective:600px}
.md-modal{position:fixed;top:50%;74:50%;width:50%;right: 0;max-width:100%;min-width:305px;height:auto;z-index:2000;visibility:hidden;-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;backface-visibility:hidden;-webkit-transform:translateX(-50%) translateY(-50%);-moz-transform:translateX(-50%) translateY(-50%);-ms-transform:translateX(-50%) translateY(-50%);transform:translateX(-50%) translateY(-50%)}
.md-show{visibility:visible}
.md-overlay{position:fixed;width:100%;height:100%;visibility:hidden;top:0;left:0;z-index:1000;opacity:0;background:rgba(0,0,0,0.6);-webkit-transition:all .3s ease-out-moz;-moz-transition:all .3s;transition:all .3s}
.md-show ~ .md-overlay{opacity:1;visibility:visible}
.md-content{color:#fff;background:#fff;position:relative;border-radius:3px;margin:0 auto;}
.md-content-wrapper{padding:0 20px 10px;}
.md-content h3{text-align:center;font-size:2.4em;font-weight:300;opacity:0.8;background:rgba(0,0,0,0.1);border-radius:3px 3px 0 0;margin:0;padding:.4em}
.md-effect-7{backface-visibility: inherit;-webkit-backface-visibility: inherit;top:10%;-webkit-transform:translateX(-50%);-moz-transform:translateX(-50%);-ms-transform:translateX(-50%);transform:translateX(-50%)}
.md-effect-7 .md-content{-webkit-transform:translateY(-200%);-moz-transform:translateY(-200%);-ms-transform:translateY(-200%);transform:translateY(-200%);-webkit-transition:all .3s ease-out-moz;-moz-transition:all .3s;transition:all .3s;opacity:0}
.md-show.md-effect-7 .md-content{-webkit-transform:translateY(0%);-moz-transform:translateY(0%);-ms-transform:translateY(0%);transform:translateY(0%);border-radius:3px;opacity:1}
.md-modal-footer {  padding: 19px 20px 20px;  margin-top: 0;  text-align: right;  border-top: 1px solid #e5e5e5;; overflow:hiden;}
.md-modal-footer .btn + .btn {  margin-bottom: 0;  margin-left: 0;}
.md-modal-footer .btn-group .btn + .btn {  margin-left: -1px;}
.md-modal-footer .btn-block + .btn-block {  margin-left: 0;}
.md-modal-footer  a{font-size:12px;margin-top: 9px; text-decoration:none}
.md-modal-header h4 {
    padding: 12px 20px;
    color: #4a4a4a;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0;
}
#modal-login .md-content{width: 350px;}
.md-modal-header .close {cursor: pointer;position: absolute;top:8px;right:10px;line-height:10px;text-decoration:none;color:#4a4a4a;z-index: 1000;display: block;border:none}
.signin .md-modal-header .close{height: 10px !important;width: 10px !important;}
#agreement-modal-body{max-height:200px;overflow:hidden; overflow-y:auto}

.md-register-area{text-align:center;margin-top:20px;}


.opc-wrapper-opc .opc-login-trigger{border-radius:2px;width:162px; height:44px; background:#00909e; color:#ffffff; text-transform:uppercase; display:block;text-decoration:none; text-align:center;line-height:44px;font-weight:bold;}
.opc-wrapper-opc .opc-login-trigger:hover{color:#fff;; background:#39b9c6;cursor:pointer;}

.left{float:left !important;}
.right{float:right !important;}
.clear{clear:both !important;}
.hidden{display:none !important;}
.move-columns{margin-bottom:15px;}

#floatingCirclesG{position:relative;width:64px;height:64px;-moz-transform:scale(0.6);-webkit-transform:scale(0.6);-ms-transform:scale(0.6);-o-transform:scale(0.6);transform:scale(0.6);margin: 0 auto;top: 50%;}
.f_circleG{position:absolute;background-color:#FFFFFF;height:12px;width:12px;-moz-border-radius:6px;-moz-animation-name:f_fadeG;-moz-animation-duration:0.72s;-moz-animation-iteration-count:infinite;-moz-animation-direction:linear;-webkit-border-radius:6px;-webkit-animation-name:f_fadeG;-webkit-animation-duration:0.72s;-webkit-animation-iteration-count:infinite;-webkit-animation-direction:linear;-ms-border-radius:6px;-ms-animation-name:f_fadeG;-ms-animation-duration:0.72s;-ms-animation-iteration-count:infinite;-ms-animation-direction:linear;-o-border-radius:6px;-o-animation-name:f_fadeG;-o-animation-duration:0.72s;-o-animation-iteration-count:infinite;-o-animation-direction:linear;border-radius:6px;animation-name:f_fadeG;animation-duration:0.72s;animation-iteration-count:infinite;animation-direction:linear;}
#frotateG_01{left:0;top:26px;-moz-animation-delay:0.27s;-webkit-animation-delay:0.27s;-ms-animation-delay:0.27s;-o-animation-delay:0.27s;animation-delay:0.27s;}
#frotateG_02{left:8px;top:8px;-moz-animation-delay:0.36s;-webkit-animation-delay:0.36s;-ms-animation-delay:0.36s;-o-animation-delay:0.36s;animation-delay:0.36s;}
#frotateG_03{left:26px;top:0;-moz-animation-delay:0.45s;-webkit-animation-delay:0.45s;-ms-animation-delay:0.45s;-o-animation-delay:0.45s;animation-delay:0.45s;}
#frotateG_04{right:8px;top:8px;-moz-animation-delay:0.54s;-webkit-animation-delay:0.54s;-ms-animation-delay:0.54s;-o-animation-delay:0.54s;animation-delay:0.54s;}
#frotateG_05{right:0;top:26px;-moz-animation-delay:0.63s;-webkit-animation-delay:0.63s;-ms-animation-delay:0.63s;-o-animation-delay:0.63s;animation-delay:0.63s;}
#frotateG_06{right:8px;bottom:8px;-moz-animation-delay:0.72s;-webkit-animation-delay:0.72s;-ms-animation-delay:0.72s;-o-animation-delay:0.72s;animation-delay:0.72s;}
#frotateG_07{left:26px;bottom:0;-moz-animation-delay:0.81s;-webkit-animation-delay:0.81s;-ms-animation-delay:0.81s;-o-animation-delay:0.81s;animation-delay:0.81s;}
#frotateG_08{left:8px;bottom:8px;-moz-animation-delay:0.9s;-webkit-animation-delay:0.9s;-ms-animation-delay:0.9s;-o-animation-delay:0.9s;animation-delay:0.9s;}

@-moz-keyframes f_fadeG{0%{background-color:#000}100%{background-color:#FFFFFF}}
@-webkit-keyframes f_fadeG{0%{background-color:#000}100%{background-color:#FFFFFF}}
@-ms-keyframes f_fadeG{0%{background-color:#000}100%{background-color:#FFFFFF}}
@-o-keyframes f_fadeG{0%{background-color:#000}100%{background-color:#FFFFFF}}
@keyframes f_fadeG{0%{background-color:#000}100%{background-color:#FFFFFF}}

.opc-ajax-loader{background-color: rgba(0, 0, 0, 0.6);height: 100%;left: 0;position: fixed;top: 0;width: 100%;display:none;z-index: 10000 !important;}
.opc-checkout-cart{}

/** BASE OPC ELEMENTS **/
.opc-wrapper-opc{margin: 0 auto;}
.opc-wrapper-opc *{font-family: Gotham;color:#393939;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
.opc-wrapper-opc label{color:#000000;font-weight: 600;font-size:14px; line-height: 20px;text-align: left;text-transform: none;background:none !important}
/*.opc-wrapper-opc .control label{padding-left:10px}*/
.opc-wrapper-opc h3{font-weight:600;color:#404040; font-size:16px;text-align:left;border-bottom:1px solid #b6b6b6;padding-bottom:8px;margin-bottom: 20px;text-transform: none;}
.opc-wrapper-opc .validation-advice{font-weight:normal;text-align: left;}
.opc-wrapper-opc h2 {
	text-align: left;
    margin-right: 10px;
    position: relative;
    color: #3F3FF5;
    font-family: Gotham;
    font-size: 21px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
    float: left;
    display: block;
    width: 100%;
    margin-bottom: 20px;
}
.opc-wrapper-opc p{font-size:16px; color:#393939;text-align:left;margin: 0 0 10px;}
.opc-wrapper-opc input{box-shadow:none;background: none;float: none !important;margin-left: 0 !important;margin-right: 0 !important;}
.opc-wrapper-opc input,
.opc-wrapper-opc select{color:#000;}
.opc-wrapper-opc select:invalid{color: #5c5c5c;box-shadow:none;}
.opc-wrapper-opc input:focus{box-shadow:none;}
.opc-wrapper-opc .opc-col-left{float:left;margin:0; border: none; box-sizing: border-box;padding-bottom: 20px;}
.opc-wrapper-opc .opc-col-center{box-sizing: border-box; float: left; margin-left: 2%;}
.opc-wrapper-opc .opc-col-right{float: right; margin: 0; box-sizing: border-box;border: none;}

.opc-wrapper-opc a:hover{color:#00909e;}
.opc-wrapper-opc input.input-text:focus, .opc-wrapper-opc select:focus, .opc-wrapper-opc  textarea:focus {background-color: #fff;}
.opc-wrapper-opc span.validation-passed, .opc-wrapper-opc div.validation-passed{background-image:none}
.opc-wrapper-opc label.required:after,
.opc-index-index .datos em,
.opc-wrapper-opc span.required:after{color:#e76012;font-size: 12px;font-weight: 600;display: none;}
.opc-wrapper-opc .validation-advice{color: #dc0000 !important;font-size: 11px;margin-top: 0;}

.opc-wrapper-opc input::-webkit-input-placeholder { /* WebKit, Blink, Edge */ color:    #9b9999;}
.opc-wrapper-opc input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */ color:    #9b9999; opacity:  1;}
.opc-wrapper-opc input::-moz-placeholder { /* Mozilla Firefox 19+ */ color:    #9b9999; opacity:  1;}
.opc-wrapper-opc input:-ms-input-placeholder { /* Internet Explorer 10-11 */  color:    #9b9999;}
.opc-wrapper-opc .checkbox + label{padding: 0; line-height: 10px;}

/*FIX FOR INFORTIS THEMES*/
/*#root-wrapper .in-col1 .opc-wrapper-opc input{height:36px !important}*/

/** LOGIN FORM **/
.opc-wrapper-opc .text-login{color:#6b6b6b; font-size:14px; font-weight:400;}
.opc-wrapper-opc .text-login a{color:#00909e;text-transform:uppercase;font-weight:600;text-decoration: none;cursor:pointer;}
.opc-wrapper-opc .form-list .input-box{width:100%}

/** FORGOT PASSWORD FORM **/
.opc-wrapper-opc #form-validate-email p{font-size:14px;}
.opc-wrapper-opc .back-link{float:left;}
.opc-wrapper-opc .back-link a,
.opc-wrapper-opc .back-link a:hover{color:#393939 !important;}
.opc-wrapper-opc .signature a:hover, .opc-wrapper-opc .signature a {color:#393939 !important;}


/** BILLING AND SHIPPING FORM **/
.opc-wrapper-opc .opc-col-left li{  width: 100%;display: inline-block;}
.opc-wrapper-opc .opc-col-left .form-list  li#billing-new-address-form{padding: 0 15px; margin-bottom:0px;}
.opc-wrapper-opc .opc-col-left .input-box {/*width:280px;padding:0*/}
.opc-wrapper-opc .opc-col-left input[type="text"], .opc-wrapper-opc .opc-col-left input[type="password"]{ border: 1px solid #d7d7d7; height: 30px; padding: 0 5px; font-size: 12px; font-weight: 300; width: 100%;border-radius: 0}
.opc-wrapper-opc .opc-col-left .customer-name .field{width:132px;}
.opc-wrapper-opc .opc-col-left .customer-name .input-box{width:132px;}
.opc-wrapper-opc .opc-col-left .customer-name input[type="text"]{width:130px;}
.opc-wrapper-opc .opc-col-left .wide{width:100%; margin-bottom: 0;}
.opc-wrapper-opc .opc-col-left .wide .input-box {width:100%;padding:0}
.opc-wrapper-opc .opc-col-left .address-additional-separator{margin-bottom:10px;display:block}
.opc-wrapper-opc .opc-col-left .fields .field{ clear: none;float: right;width:48%;margin-bottom:20px;}
.opc-wrapper-opc .opc-col-left .fields .fields{margin-bottom:15px;}
.opc-wrapper-opc .opc-col-left .fields .field:first-child,
.opc-wrapper-opc .opc-col-left .fields .field:nth-child(2n+1){float:left;clear: left;}
.opc-wrapper-opc .opc-col-left .fields .input-box{width:100%;}
.opc-wrapper-opc .opc-col-left .fields input[type="text"],
.opc-wrapper-opc .opc-col-left .fields input[type="password"]{width:100%;}
.opc-wrapper-opc .opc-col-left .fields select{border: 1px solid #ccc; width: 100%; font-size: 10px; height: 30px;}
.opc-wrapper-opc .opc-col-left .control {
    text-align: left;
    margin-top: 3px;
    margin-bottom: 0;
    padding: 0 30px;
}
.opc-wrapper-opc .opc-col-left .control input.checkbox {
    margin-top: 5px;
}
.opc-wrapper-opc .opc-col-left .control.use-shippinghidden{display: none;}
.opc-wrapper-opc .opc-col-left .control label{
    color: #6d6d6d;
    font-family: Gotham;
    font-size: 10px;
    font-weight: 800;
    line-height: 20px;
    padding: 0;
    text-transform: uppercase;
    margin: 0;
}
.opc-wrapper-opc .opc-col-left .notice{font-size:11px; color:#6e6e6e; font-style: normal;margin-bottom:5px}
.opc-wrapper-opc .opc-col-left .add-field .input-box{margin-left:0}
.opc-wrapper-opc .opc-col-left .fields .field.name-lastname{ clear: none;float: right;}

/** GIFT PAYMENTS METHODS BLOCK */
.opc-wrapper-opc .payment-block{position: relative;}
.opc-wrapper-opc .payment-block.clear-margin{margin-top:0}
.opc-wrapper-opc .payment-block .tool-tip{top:0 !important}
.opc-wrapper-opc .payment-block dt:first-child{
    margin: 0px 0 13px;
}
.opc-wrapper-opc .payment-block dl,
.opc-wrapper-opc .payment-block dt{text-align:left;font-size:14px;color:#000000;overflow: hidden;}
.opc-wrapper-opc .payment-block dt{margin: 0px 0 13px;background:#00909e;position:relative;border-radius:2px;}
.opc-wrapper-opc .payment-block dt:hover,
.opc-wrapper-opc .payment-block dt.active{background:#39b9c6;}
.opc-wrapper-opc .payment-block dt label{color: #ffffff;cursor: pointer;display: block;font-size: 18px;font-weight: bold;height: 41px;line-height: 41px;max-width: 100%;text-align: center;text-transform: uppercase;width: 100%; padding: 2px 0 0 0 !important}
.opc-wrapper-opc .payment-block select{padding:0;border: 1px solid #d8d8d8;margin-top: 0;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;height:34px;width:100%}
.opc-wrapper-opc .payment-block dt input{display:block;position:absolute;height:44px; left:1px;top:0; opacity:0;cursor:pointer;margin:0 !important;display:none;}
.opc-wrapper-opc .payment-block h3{margin-bottom:26px;}
.opc-wrapper-opc .payment-block li{margin-bottom:12px;}
.opc-wrapper-opc .payment-block .form-list{padding-left:0}
.opc-wrapper-opc .payment-block .form-alt{color: #6E6E6E;font-size: 14px;font-style: italic;margin-bottom: 5px;}
.opc-wrapper-opc .payment-block .sp-methods .form-list{padding:0;padding-top:7px;padding-bottom: 22px;}
.opc-wrapper-opc .payment-block .checkout-onepage-payment-additional-reward,
.opc-wrapper-opc .payment-block .checkout-onepage-payment-additional-reward dt{margin-top:0}
.opc-wrapper-opc .payment-block #customerbalance_placer{margin-bottom:13px}
.opc-wrapper-opc .payment-block #reward_placer{margin-bottom:13px}
.opc-wrapper-opc .payment-block .checkout-onepage-payment-additional-giftcardaccount{display:none}
.opc-wrapper-opc .payment-block .checkout-onepage-payment-additional-reward{margin-bottom:20px}
.opc-wrapper-opc .payment-block .checkout-onepage-payment-additional-reward li{overflow: hidden;}
.opc-wrapper-opc .payment-block .checkout-onepage-payment-additional-reward dt{overflow:hidden;border:none; background:none; border-radius:0;height:auto !important; line-height:1.25em !important}
.opc-wrapper-opc .payment-block .checkout-onepage-payment-additional-reward input{width: auto !important;float:left !important;opacity:1;height:auto !important}
.opc-wrapper-opc .payment-block .checkout-onepage-payment-additional-reward label{float: left !important;padding-left: 25px;width: 95%;color:#000000; font-size:14px;font-weight:normal;text-shadow:none;font-size:14px; text-transform:none !important;height:auto !important; line-height:1.25em !important; text-align:left;}
.opc-wrapper-opc .payment-block .checkout-onepage-payment-additional-reward dt label{text-shadow:none}
.opc-wrapper-opc .payment-block .checkout-onepage-payment-additional-customerbalance{margin-bottom:20px;overflow: hidden;}
.opc-wrapper-opc .payment-block .checkout-onepage-payment-additional-customerbalance,
.opc-wrapper-opc .payment-block .checkout-onepage-payment-additional-customerbalance dt,
.opc-wrapper-opc .payment-block .checkout-onepage-payment-additional-customerbalance:hover,
.opc-wrapper-opc .payment-block .checkout-onepage-payment-additional-customerbalance dt:hover{background:transparent !important;}
.opc-wrapper-opc .payment-block .checkout-onepage-payment-additional-customerbalance input{width: auto !important;float:left !important}
.opc-wrapper-opc .payment-block .checkout-onepage-payment-additional-customerbalance label{float: left !important;padding-left: 15px;width: 90%;color:#000000; font-size:14px;font-weight:normal;text-shadow:none;font-size:14px; text-transform:none !important;height:auto !important; line-height:1.25em !important; text-align:left;}
.opc-wrapper-opc .payment-block .checkout-onepage-payment-additional-customerbalance label strong{font-weight:normal;}
.opc-wrapper-opc .payment-block .checkout-onepage-payment-additional-customerbalance label,
.opc-wrapper-opc .payment-block .checkout-onepage-payment-additional-customerbalance label:hover,
.opc-wrapper-opc .payment-block .checkout-onepage-payment-additional-customerbalance:hover label,
.opc-wrapper-opc .payment-block .checkout-onepage-payment-additional-customerbalance dt:hover label{color:#000000 !important;}
.opc-wrapper-opc .payment-block .checkout-onepage-payment-additional-customerbalance input[type="checkbox"]{display:block;opacity:1;position:relative;margin:0 5px 0 0 !important;height:auto !important;}

/** CC PAYMENTS METHODS BLOCK */
.opc-wrapper-opc .payment-block  .form-list.opc-cc-container {position: relative; margin: 15px 10px;border: 1px solid #c0c0c0;  padding: 20px 15px 13px;border-radius:2px;}
.opc-wrapper-opc .payment-block  .form-list.opc-cc-container::after{clear:both;display:table;content:""}
.opc-wrapper-opc .payment-block  .form-list p.required{display: none}
.opc-wrapper-opc .payment-block  .form-list label{margin-bottom:3px;}
.opc-wrapper-opc #checkout-payment-method-load .opc-cc-list{list-style:none;}
.opc-wrapper-opc #checkout-payment-method-load .opc-cc-list:after{clear:both;display:table;content:""}
.opc-wrapper-opc #checkout-payment-method-load .opc-cc-list li{background-image: url("images/opc_cc.png");float: left;height: 35px;margin-right: 8px;width: 52px;margin-bottom: 14px;}
.opc-wrapper-opc #checkout-payment-method-load .opc-cc-list li:last-child{margin-right:0}
#modal-login #login-button-set .restore-account {color:#393939 !important;}
#modal-login #login-button-set .restore-account:hover {color:#4a4a4a !important;}

#dt_method_paypaluk_express_bml label .method-title,
#dt_method_paypal_express_bml label .method-title {position:relative; top:-15px; display:inline-block; color:#ffffff; font-size:18px; font-weight:bold; height:41px; line-height:41px; text-transform:uppercase; padding:2px 0 0 0 !important; }
#dt_method_paypaluk_express_bml label a,
#dt_method_paypal_express_bml label a {cursor:help; margin-left:-34px;}
#dt_method_paypaluk_express_bml label a:focus,
#dt_method_paypal_express_bml label a:focus {outline:0;}
#dt_method_paypaluk_express_bml label img,
#dt_method_paypal_express_bml label img {display:inline-block; position:relative; top:-1px;}

@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 4 / 2), (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .opc-wrapper-opc .opc-cc-list li {
    background-image: url(images/opc_cc@2.png);
    background-size: 597px 92px;
  }
}

.opc-wrapper-opc .payment-block .opc-hidden{display:block !important;visibility:hidden;opacity:0;height:0;padding:0;margin:0 !important;border:none;width: 0 !important;-webkit-appearance: none;}
.opc-wrapper-opc .opc-cc-list li:nth-child(5n){margin-right: 0;}
.opc-wrapper-opc .opc-cc-list li{background-position: -240px 0;}
.opc-wrapper-opc .opc-cc-list li.AE,
.opc-wrapper-opc .opc-cc-list li.AMEX{background-position: 0 0 }
.opc-wrapper-opc .opc-cc-list li.VI,
.opc-wrapper-opc .opc-cc-list li.VISA{background-position: -58px 0 }
.opc-wrapper-opc .opc-cc-list li.MC{background-position: -118px 0 }
.opc-wrapper-opc .opc-cc-list li.DI{background-position: -179px 0 }
.opc-wrapper-opc .opc-cc-list li.JCB{background-position: -423px 0 }
.opc-wrapper-opc .opc-cc-list li.SM{background-position: -362px 0 }
.opc-wrapper-opc .opc-cc-list li.SO,
.opc-wrapper-opc .opc-cc-list li.SOLO{background-position: -301px 0 }
.opc-wrapper-opc .opc-cc-list li.OT{background-position: -240px 0 }
.opc-wrapper-opc .opc-cc-list li.active,
.opc-wrapper-opc .opc-cc-list li:hover{background-position: -240px -57px }
.opc-wrapper-opc .opc-cc-list li.AE.active,
.opc-wrapper-opc .opc-cc-list li.AE:hover,
.opc-wrapper-opc .opc-cc-list li.AMEX.active,
.opc-wrapper-opc .opc-cc-list li.AMEX:hover{background-position: 0 -57px }
.opc-wrapper-opc .opc-cc-list li.VI.active,
.opc-wrapper-opc .opc-cc-list li.VI:hover,
.opc-wrapper-opc .opc-cc-list li.VISA.active,
.opc-wrapper-opc .opc-cc-list li.VISA:hover{background-position: -58px -57px }
.opc-wrapper-opc .opc-cc-list li.MC.active,
.opc-wrapper-opc .opc-cc-list li.MC:hover{background-position: -118px -57px }
.opc-wrapper-opc .opc-cc-list li.DI.active,
.opc-wrapper-opc .opc-cc-list li.DI:hover{background-position: -179px -57px }
.opc-wrapper-opc .opc-cc-list li.JCB.active,
.opc-wrapper-opc .opc-cc-list li.JCB:hover{background-position: -423px -57px }
.opc-wrapper-opc .opc-cc-list li.SM.active,
.opc-wrapper-opc .opc-cc-list li.SM:hover{background-position: -362px -57px }
.opc-wrapper-opc .opc-cc-list li.SO.active,
.opc-wrapper-opc .opc-cc-list li.SO:hover,
.opc-wrapper-opc .opc-cc-list li.SOLO.active,
.opc-wrapper-opc .opc-cc-list li.SOLO:hover{background-position: -301px -57px }
.opc-wrapper-opc .opc-cc-list li.OT.active,
.opc-wrapper-opc .opc-cc-list li.OT:hover{background-position: -240px -57px }
.opc-wrapper-opc .payment-block .input-box select.month{margin-right: 5px;}
.opc-wrapper-opc .payment-block .input-box select.year{}
.opc-wrapper-opc .payment-block input[name="payment[cc_cid]"] { max-width: 61px;}
.opc-wrapper-opc .payment-block input[name="payment[cc_number]"] { margin-bottom:9px;}
.opc-wrapper-opc .payment-block select[name="payment[cc_exp_month]"] { margin-bottom:7px;}
.opc-wrapper-opc .payment-block .cc-cid-placeholder{  position: absolute;left: 61px; top: 0;background-image: url("images/opc_cc.png"); background-position: 113px 0px;  display: inline-block; height: 34px; vertical-align: top;width: 53px; margin-left: 9px;}
.opc-wrapper-opc .payment-block .ssl-placeholder{ width: 111px; height: 57px; display: block;  position: relative; float:right;right: -25px;margin-top: -12px; background-image: url("images/opc_cc.png"); background-position: 111px -35px;}

/** GIFT SHIPPING METHODS BLOCK **/
.opc-wrapper-opc .shipping-block dl,
.opc-wrapper-opc .shipping-block dt{text-align:left;font-size:14px;color:#000000}
.opc-wrapper-opc .shipping-block dt{margin: 25px 0 5px;}
.opc-wrapper-opc .shipping-block dt label{text-align:left;font-size:14px;color:#000000}
.opc-wrapper-opc .shipping-block p{font-size:14px; color:#6e6e6e; font-style: italic;margin-top:10px}
.opc-wrapper-opc .shipping-block h3{margin-bottom:21px;}
.opc-wrapper-opc .validation-advice{background:none;padding-left:0}
.shipping-block #checkout-shipping-method-load .sp-methods dd label {
    display: inline-block;
    padding: 0;
    width: 90%;
    max-width: 90%;
    float: right;
    min-width: 90%;
}
.shipping-block #checkout-shipping-method-load .sp-methods dd li {
    float: left;
    width: 100%;
}
.shipping-block #checkout-shipping-method-load .sp-methods dd input.radio {
    margin-right: 2% !important;
    vertical-align: middle;
    width: 7%;
}
.opc-wrapper-opc  input.radio,
.opc-wrapper-opc  input.checkbox{
	margin-top: 0;
    vertical-align: top;
    margin-right: 10px !important;
}
.opc-wrapper-opc  input#paypal_ec_create_ba {margin-top:6px !important;}
.opc-wrapper-opc .opc-review-actions .agree{padding-left:0;padding-bottom:0}
.opc-wrapper-opc .opc-review-actions .agree label{color:#676767; font-size:14px;font-weight:normal;}
.opc-wrapper-opc #checkout-review-submit li{margin-bottom:0;margin-top: 0;}
.opc-wrapper-opc .opc-review-actions .checkout-agreements{padding:0}
.opc-wrapper-opc .opc-review-actions .checkout-agreements li{margin:10px 0}
.opc-wrapper-opc .opc-review-actions .view-agreement{text-decoration:none;color:#676767; font-size:14px;cursor:pointer;font-weight: normal;padding-top: 5px;display: inline-block;}
.opc-wrapper-opc .opc-review-actions .view-agreement:hover{color:#00909e;}
.opc-wrapper-opc .opc-review-actions .agreement-content{margin-top:20px;margin-bottom:20px;}

/** GIFT DISCOUNT BLOCK **/
.opc-wrapper-opc .discount-block{padding: 0; background: #fff; margin-top: 20px; border: none;}
.opc-wrapper-opc .discount-block .discount{margin-top:19px}
.opc-wrapper-opc .discount-block .input-box {width:100%;padding:0}
.opc-wrapper-opc .discount-block input[type="text"]{
    border:1px solid #d8d8d8;
    height:34px;
    padding:0;
    width:90%;
    padding-left: 5px;
    font-size: 12px;
    font-weight: 400;
    margin-left: 5% !important;
}
.opc-wrapper-opc .discount-block .button{display:block;height:25px;border:none;margin: 0 auto;float:left;min-width: unset;}
.opc-wrapper-opc .discount-block .button span{
    background:#b6812a;
    border:none;
    height:auto;
    line-height:24px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding: 0;
    border-radius: 100px;
}
.opc-wrapper-opc .discount-block .button span span {
    background-color: #3F3FF5 !important;
    color:#ffffff;
    font-size:12px;
    font-weight:300;
    letter-spacing: 1px;
    text-transform:uppercase;
    padding: 6px 0;
    width: auto;
    text-align: center;
    height: auto;
}
.opc-wrapper-opc .discount-block .buttons-set{margin-top: 10px;overflow: hidden;padding-top: 0;}
.opc-wrapper-opc .discount-block .apply-coupon{float:none; width: 130px; height: auto;}
.opc-wrapper-opc .discount-block .remove-coupon{float: right !important;}

/** GIFT CARD **/
.opc-wrapper-opc .giftcard{margin-bottom: 48px;}
.opc-wrapper-opc .giftcard #giftcard-form{display:none;}
.opc-wrapper-opc .giftcard .v-fix{float:none;margin-bottom:10px}
.opc-wrapper-opc .giftcard input{width:100%}
.opc-wrapper-opc .giftcard .button{display:block;height:25px;border:none;margin: 0 auto;float:left;min-width: unset;;}
.opc-wrapper-opc .giftcard .button span{background:#00909e;border:none;height:25px;line-height:24px;-webkit-border-radius: 3px;border-radius: 3px;padding: 0;}
.opc-wrapper-opc .giftcard .button span span{background:#00909e;color:#ffffff;font-size:15px;font-weight:bold;text-transform:uppercase;padding:0 20px}
.opc-wrapper-opc .giftcard .button.btn-remove-gift span span{padding:0 20px}
.opc-wrapper-opc .giftcard .check-gc-status{clear:both;margin-top:10px;}
/*.opc-wrapper-opc .giftcard .check-gc-status span{background: none repeat scroll 0 0 transparent !important;color: #000000 !important;font-size: 11px !important;font-weight: normal !important;padding: 0 !important;text-transform: none !important; text-shadow:none !important}*/

.discount-block h3,
.signature-block h3,
.comment-block h3,
.giftcard h3{margin-bottom:0;padding:0;display:inline-block; border:none; cursor:pointer;}
.expand_plus{display:block;text-align:center;float:right;color: grey !important;margin: 15px 0px 15px 15px}
.expand_plus:before{content:"\f0fe";}
.discount-block h3:hover .expand_plus,
.signature-block h3:hover .expand_plus,
.comment-block h3:hover .expand_plus,
.giftcard h3:hover .expand_plus,
.discount-block h3.open-block .expand_plus,
.signature-block h3.open-block .expand_plus,
.comment-block h3.open-block .expand_plus,
.giftcard h3.open-block .expand_plus{color:#39b9c6;}
.discount-block h3.open-block .expand_plus:before,
.signature-block h3.open-block .expand_plus:before,
.comment-block h3.open-block .expand_plus:before,
.giftcard h3.open-block .expand_plus:before{content:"\f146";}
.discount-block h3.open-block + .collapse-block,
.signature-block h3.open-block + .collapse-block,
.giftcard h3.open-block + .collapse-block{border-top:1px solid #b6b6b6;margin-top: 10px;}
.giftcard h3.open-block +  #giftcard_balance_lookup{border-top:1px solid #b6b6b6;margin-top: 10px;margin-bottom:10px;}
.discount-block,
.signature-block,
.comment-block{margin-bottom:20px}
.shipping-block{/*margin-bottom:40px*/;}

/** GIFT MESSAGES BLOCK */*
.opc-wrapper-opc .gift-messages{margin-top:40px}
.opc-wrapper-opc .gift-messages h3{margin-bottom:16px;}
.opc-wrapper-opc .gift-messages p{margin-top:16px;}
.opc-wrapper-opc .gift-messages-form .item .details .form-list .field{/*width:170px;*/width:100%;padding:0;}
.opc-wrapper-opc .gift-messages-form .item .details .form-list .input-box {/*width:170px;*/width:100%;padding:0}
.opc-wrapper-opc .gift-messages-form .item .details .form-list li.wide .input-box {/*width:168px;*/width:100%;padding:0}
.opc-wrapper-opc .gift-messages-form .item .details .form-list textarea{border:1px solid #d8d8d8; height:80px;padding:0;/*width:163px;*/width:100%}
.opc-wrapper-opc .gift-messages-form .item .details .form-list li.wide  textarea{border:1px solid #d8d8d8; height:80px;padding:0;/*width:167px;*/ width:100%}
.opc-wrapper-opc .gift-messages-form .item .details .form-list .input-box{/*width:170px;*/width:100%}
.opc-wrapper-opc .gift-messages-form .item .details .form-list input[type="text"]{/*width:163px;*/width:100%}
.opc-wrapper-opc .gift-messages-form .item .number{font-weight:normal}
.opc-wrapper-opc .gift-messages-form li.wide .input-box{width:100%}
.opc-wrapper-opc .gift-messages-form li.wide textarea{width:100%;max-width:inherit}
.opc-wrapper-opc .gift-messages-form li .field{width:100%}
.opc-wrapper-opc .gift-messages-form li .input-box{width:100%}
.opc-wrapper-opc .gift-messages-form li input{width:100%;padding:0;}
.opc-wrapper-opc .gift-messages-form li textarea{width:100%}
.opc-wrapper-opc .gift-messages-form .inner-box label {
    max-width: 90%;
    width: auto;
}
.opc-wrapper-opc .gift-messages-form .inner-box {
    float: left;
}
.opc-wrapper-opc .gift-messages-form {
    float: left;
    margin-top: 15px;
}

/** CUSTOMER OPC MESSAGE BLOCK **/
.opc-message-wrapper{background-color: rgba(0, 0, 0, 0.6);display: none;height: 100%;left: 0;position: fixed;top: 0;width: 100%;z-index: 10001;}
.opc-messages{	-moz-box-sizing: border-box;	-webkit-box-sizing: border-box;	box-sizing: border-box;	padding:30px;	position:absolute;	display:none;	-webkit-border-radius: 10px;	border-radius: 10px;    color:#404040;    display: block;    font-size: 16px;    left: 50%;    margin-left: -205px;    margin-top: -20px;    position: absolute;    text-align: left;    top: 30%;    width: 410px;	-webkit-box-shadow: 0 3px 10px 1px rgba(0,0,0,0.2);	box-shadow: 0 3px 10px 1px rgba(0,0,0,0.2);	background-color: #fefefe ;	font-weight:normal;z-index: 1002;}
.opc-message-container{text-align:center; overflow-x:auto; overflow-y:hidden; }
.opc-messages-action{text-align:center;margin-top:20px}
.opc-messages-action .button{display:block;height:40px;border:none;margin: 0 auto;;background:none !important;padding:0;float: none;}
.opc-messages-action .button span{background:#00909e;border:none;height:40px;line-height:40px;-webkit-border-radius: 3px;border-radius: 3px;display: block;}
.opc-messages-action .button span span{background:#000;color:#ffffff;font-size:16px;font-weight:bold;text-transform:uppercase;padding:0 20px}
.opc-messages-action .button:hover span,
.opc-messages-action .button:hover span span{background:#39b9c6;}
.close-message-wrapper {background: transparent;display: block;height: 8px;position: absolute;width: 8px;z-index: 1005;right: 18px;top: 10px;cursor:pointer;color:#4a4a4a;line-height:10px;}

/** BUTTONS */
.opc-wrapper-opc .btn{height:35px;border:none;margin: 0 auto;background:none !important;cursor:pointer}
.opc-wrapper-opc .btn span{background:#000;border:none;height:35px;line-height:35px;-webkit-border-radius: 3px;border-radius: 3px;display:block;padding: 0;}
.opc-wrapper-opc .btn span span{background:#00909e;color:#ffffff;font-size:12px;font-weight:bold;text-transform:uppercase;padding:0 10px}
.opc-wrapper-opc .btn-checkout{display:block;width:100%;height:45px;}
.opc-wrapper-opc .btn-checkout span span{background:#00909e;color:#ffffff;font-size:18px;font-weight:bold;text-transform:uppercase;}
.opc-wrapper-opc .buttons-set{border:none;margin-top:10px}
.opc-wrapper-opc .btn-checkout.button-disabled{}
.opc-wrapper-opc .btn-checkout.button-disabled span span{background: url(images/ajax-loader-button.png) no-repeat scroll 15px 12px transparent;}
.opc-wrapper-opc .btn-checkout.button-disabled span {
    cursor: default;
    background-color: #b6812a;
    text-shadow:none;
    border-radius: 100px;
}
.opc-wrapper-opc .opc-newsletter{margin-top:30px;margin-bottom:14px;}
.opc-wrapper-opc .opc-newsletter li{margin-top:10px;margin-bottom:10px;}
.opc-wrapper-opc .opc-newsletter li label{color:#676767; font-size:14px;font-weight:normal;padding-left:4px;}
.opc-wrapper-opc .opc-newsletter li .input-box{float:left; width: auto;}
.opc-wrapper-opc button{background:none !important;border:none !important;padding:0;}
.opc-wrapper-opc button span{display:block;}
.opc-wrapper-opc .opc-menu .paypal-logo{float: left;margin-bottom: 0;margin-right: 30px;margin-top: 7px;}
.opc-wrapper-opc .opc-menu .paypal-logo .paypal-or{display:none;}
.opc-wrapper-opc .opc-menu .paypal-logo +li,
.opc-wrapper-opc .opc-menu .paypal-logo +li +li{display:none}

/** COMMENT BLOCK **/
.opc-wrapper-opc .comment-block h3 {
    padding-left: 15px;
    margin-left: 5%;
}
.opc-wrapper-opc .comment-block textarea{ resize: none; border: 1px solid #d7d7d7;height: 28px; padding: 5px; font-size: 10px; width: 100%; border-radius: 0;}
.opc-wrapper-opc .comment-block .comment{    padding: 0 30px;
    width: 97%;}
#p_method_paypal_express +label img,
#p_method_paypal_express +label a{display:none}
#p_method_paypal_standard +label img,
#p_method_paypal_standard +label a{display:none}
#checkout-payment-method-load dd img { max-width: 100%; float: left; width: auto; height: auto;}
#p_method_paypal_express +label{font-size: 28px;font-style: italic;text-transform: none !important;}

/** review block **/
.review-menu-block{position:relative}
.review-menu-block a.review-total{width:195px; height:44px;line-height:44px;display:block; background-color:#00909e;border-radius:2px;padding-left:18px;cursor:pointer;color:#fff;}
.review-menu-block a.review-total i{color:inherit;margin-top:7px;}
.review-menu-block a.review-total i.dd-arrow{margin:0;height:100%;float:right;line-height:inherit;font-weight:bold;margin:0 13px 0 0;}
.review-menu-block a.review-total i.dd-arrow:before{content:"\f107";}
.review-menu-block a.review-total span{float:right;color:#fff;font-size:18px;text-transform:uppercase;background:transparent;margin-right:0;padding-right:8px;line-height:inherit; max-width: 112px;text-overflow: ellipsis;overflow: hidden;}
.review-menu-block a.review-total span span{float:none !important;background:none !important;margin:0 !important;padding:0 !important}
.review-menu-block a.review-total:hover,
.review-menu-block a.review-total.open{background:#39b9c6 !important;}
.review-menu-block a.review-total.open i.dd-arrow:before{content:"\f106";}
.review-menu-block .polygon{display: none;height: 10px;position: absolute;right: 17px;width: 28px;z-index: 101;border-top: 10px solid #39b9c6;border-left: 14px solid transparent;border-right: 14px solid transparent;}
.review-menu-block a.review-total.open ~ .polygon{display:block}
.opc-wrapper-opc #opc-review-block{position:absolute;background-color:#ffffff;-webkit-border-radius: 10px;border-radius: 10px;padding:30px 10px;width:336px;right: 1px;z-index: 100;top: 50px;-webkit-box-shadow: 0 1px 1px 0 #dadada;box-shadow: 0 1px 1px 0 #dadada;border:1px solid #dadada;}
.opc-wrapper-opc #opc-review-block h3.review-title{color:#404040;font-size:16px;border-bottom:1px solid #b6b6b6;line-height:1; padding-bottom:13px; padding-left:9px}

.opc-wrapper-opc .opc-data-table{width:100%;}
.opc-wrapper-opc .opc-data-table thead th{color:#1c1c1c; font-size:15px;padding:0 15px 7px;border-bottom:1px solid #eaeaea}
.opc-wrapper-opc .opc-data-table thead tr th:last-child{padding-right:0}
.opc-wrapper-opc .opc-data-table tbody td{padding:14px;border-bottom:1px solid #eaeaea;color:#676767; font-size:14px;font-weight:400}
.opc-wrapper-opc .opc-data-table td.last{padding-right:0}
.opc-wrapper-opc .opc-data-table tbody td .price{color:#676767; font-size:14px;font-weight:400}
.opc-wrapper-opc .opc-data-table tbody td h3{color:#676767; font-size:14px;font-weight:400;border:none;margin:0;padding:0;line-height:1.35em}
.opc-wrapper-opc .opc-data-table tfoot td{padding:10px 0;color:#676767; font-size:14px;font-weight:normal;vertical-align: middle;}
.opc-wrapper-opc .opc-data-table tfoot td strong .price{color:#3f3f3f;font-size:14px;}
.opc-wrapper-opc .opc-data-table tfoot th{padding:10px 0;border-bottom:1px solid #eaeaea;color:#676767; font-size:14px;font-weight:normal;vertical-align: middle;}
.opc-wrapper-opc .opc-data-table tfoot th strong .price{color:#3f3f3f;font-size:14px;}
.opc-wrapper-opc .opc-data-table tfoot tr:last-child td{border-bottom:none}
.opc-wrapper-opc .opc-data-table .item-options{font-size:11px}
.opc-wrapper-opc .opc-data-table .cell-label{display:none}
.opc-wrapper-opc .opc-data-table .btn-remove img{margin-top: 5px;width: 10px;}
.opc-wrapper-opc .opc-data-table tfoot tr.last{display:none}
.opc-wrapper-opc .opc-data-table .btn-remove{display:none}
.opc-review-actions{border-top:1px solid #b6b6b6;}
.opc-review-actions h5{color:#000000; font-size:18px;font-weight:bold;margin-top:19px;margin-bottom:10px;}
.opc-review-actions h5 .price{color:#000000; font-size:18px;}
.opc-review-actions h5 span{margin-left:45px;float:right}
.opc-review-actions h5 span span{margin:0}
.payment-form-full-page{float: none !important;}
.payment-form-full-page .review-total{display:none !important}
.payment-form-full-page .review-total+span{display:none !important}
.payment-form-full-page #opc-review-block{position:inherit !important;width:100% !important;border:none !important;box-shadow:none !important;padding:0 !important;display:block !important;top: 0;height:auto !important;overflow:visible !important;visibility:visible !important;}
.payment-form-full-page #centinel_authenticate_iframe{width:100%;min-height:450px;}
.cvv-what-is-this{display:none}
#checkout-review-table-wrapper{max-height:400px;overflow-y:auto;padding-right:5px;}
#allow-gift-messages-for-order-container .form-list{ display: none;}

/*ECLOUD CUSTOMIZACION CHECKOUT */
.opc-index-index .page{
    border-top: 5px solid #a3a29e;
}
.opc-index-index .main-container {
    padding-top: 3px;
}
.opc-index-index .header-googlemap{
	display: none;
}
.opc-index-index .gift-messages {
    display: none;
}
.opc-index-index #header {
	display: none;
}
.opc-index-index .breadcrumbs {
    display: none;
}
.opc-index-index .main {
    background: transparent;
    padding: 20px 0;
}
.opc-index-index .opc-heading {
    padding: 35px 0;
    float: left;
    width: 100%;
    /*position: relative;*/
    padding-bottom: 10px;
}
.opc-index-index .opc-heading .container {
    float: left;
    width: 100%;
    position: relative;
    padding: 0 1.5%;
}
.opc-index-index .datos {
	padding: 11px 5px 28px 0px;
}
.opc-index-index .datos em {
    float: left;
    margin-right: 3px;
}
.opc-index-index .opc-heading .chat {
    position: absolute;
    right: 15px;
    top: 5px;
}
.opc-index-index .opc-heading .chat a{
	cursor: pointer;
}
/*oculto fancybox review*/
.opc-index-index .review-menu-block{display: none;}
.opc-index-index .opc-heading .container .opc-menu {
    float: left;
    width: 90%;
}
.opc-index-index .opc-heading .container .opc-menu span{
    float: left;
    position: relative;
    line-height: 30px;
    color: #a2a1a0;
    font-family: Gotham;
    font-size: 12px;
    font-weight: 300;
    margin: 0 10px;
}
.opc-index-index .opc-heading .container .logo-container {
    float: left;
    width: auto;
    padding-right: 23px;
    border-right: 1px solid #ddd;
    margin-right: 17px;
    margin-top: 10px;
}
.opc-index-index .opc-heading .container .logo-container {
    display: none;
}
.opc-column {
    background: #fff;
    width: 32%;
    padding: 0px;
}
.opc-wrapper-opc .btn-checkout span span {
    background-color: #3F3FF5;
    color: white;
    font-family: Gotham;
    font-size: 14px;
    font-weight: 400;
    border-radius: 100px;
    letter-spacing: 2px;
    margin-top: 20px;
}
/*#opc-totals-block .review-title {
    padding: 26px 20px 6px 20px;
    margin-bottom: 9px;
}*/
.opc-index-index .footer {
    display: none;
}
.opc-index-index .shipping-block {
    padding: 0;
    background: #fff;
    border: none;
}
.opc-wrapper-opc .opc-col-center {
    background: transparent;
    padding: 0;
}
.opc-wrapper-opc .payment-block {
    padding: 0;
    margin-top: 20px;
    background: #fff;
    border:none;
}
.step-number {
    padding: 1px 10px;
    color: #fff;
    font-family: Gotham;
    font-size: 18px;
    font-weight: 400;
    line-height: 40px;
}
#checkout-review-table-wrapper {
    margin: 0px 15px;
    background: transparent;
    max-height: 230px;
    overflow: auto;
    float: left;
    width: 91%;
    border-bottom: 1px solid #ccc;
}
.opc-review-actions {
    padding: 0px 18px;
    border-top: none;
    float: left;
    width: 100%;
	padding-top: 0;
}
#billing-new-address-form .field.name-middlename {
    display: none;
}
.opc-wrapper-opc h3 {
    color: #fff;
	font-family: Arial;
    font-size: 18px;
    font-weight: 300;
    line-height: 40px;
    text-transform: uppercase;
    font-style: normal;
    letter-spacing: 2px;
    background-color: transparent;
    padding: 0;
    border-bottom: 1px solid #ccc;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 10px;
    background: #C8CCCE;
}
@media (max-width: 1260px) {
    .opc-wrapper-opc h3 {
        text-align: center;
    }
}
.grand_total{display: none;}
#checkout-shipping-method-load dl.sp-methods dt {
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
    font-family: Gotham;
    float: left;
}
#checkout-shipping-method-load dl.sp-methods .radio {
    margin-top: 0;
    margin-left: 0;
}
#opc-address-form-shipping {padding: 7%;}
#opc-address-form-shipping .control.use-shipping {
    display: none;
}
.sp-methods .price {
    font-weight: bold;
    font-size: 14px;
    line-height: 14px;
    font-family: Gotham;
}
.opc-wrapper-opc .shipping-block .shipping-text p {
    font-size: 11px;
    font-family: Arial;
    font-style: normal !important;
    color: #666;
}
.payment-image-title {
    float: left;
    margin-top: 9px;
}
#checkout-payment-method-load dt {
	margin-bottom: 10px;
	background-color: transparent !important;
    float: left;
}
#checkout-payment-method-load dd {
    float: left;
    width: 100%;
    padding: 0 30px;
}
#checkout-payment-method-load dt label {
	text-align: left;
	width: auto;
	font-size: 14px;
	padding: 0 !important;
	text-transform: none;
	margin: 0;
	margin-left: 30px;
	font-weight: normal;
    height: auto;
}
div#checkout-shipping-method-load .sp-methods span.method-title {
    font-size: 12px;
    font-weight: normal;
    text-transform: none;
    display: block;
    width: 100%;
}
#checkout-payment-method-load #dd_method_mpexpress .payment-text-cms {
    color: #565656;
    font-family: Arial;
    font-size: 12px;
    font-weight: 300;
    line-height: 20px;
}
#checkout-payment-method-load dt:hover,#checkout-payment-method-load dt.active {
    background: transparent !important;
}
fieldset#checkout-payment-method-load p {
    font-size: 11px;
}
.opc-wrapper-opc .payment-block dt input {
	display: block;
	opacity: 1;
}
.payment-text-cms img{
    width: auto;
    height: auto;
    margin-left: 24px;
    float: left;
    max-width: 100%;
}
#checkout-payment-method-load dd .payment-text-cms p {
    margin: 17px 0;
    display: inline-block;
}
.checkout-compra-segura {
    float: left;
    padding: 30px 0 10px;
    width: 100%;
}
.checkout-compra-segura img {
    margin: 0 auto;
}
#checkout-review-table .product-image  {
    border: 0px solid #EDEDED;
}
#checkout-review-table .product-image img {
    width: 55px;
    float: left;
    padding: 0;
    padding-right: 5px;
}
.order-products-table {width: 100%;}
.order-products-table thead th .edit-cart-link:before{
	content: "\f105";
	font-family: fontawesome;
	font-size: 11px;
}
#checkout-review-table tfoot tr:last-child{
    color: black;
    font-family: Gotham;
    font-size: 21px;
    font-weight: 400;
    line-height: 42px;
    text-transform: uppercase;
}
#checkout-review-table tfoot tr td.a-right:first-child {
    text-align: left;
    color: black;
    font-family: Gotham;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 1px;
}
#checkout-review-table tfoot {
	display: table-footer-group;
	width: 100%;
}
.order-products-table thead .quantity-title{
	width: 30%;
}
.order-products-table thead .editcart-title{
	width: 60%;
}
.order-products-table thead th .edit-cart-link {
    float: left;
    font-size: 11px;
    color: #E76012 !important;
}
#checkout-review-table td.precio-item.a-center{display: none;}
.order-products-table thead th{
	padding: 0px 0 2px 0;
    border-bottom: 1px solid #ddd;
    white-space: nowrap;
    vertical-align: middle;
    color: #565656;
    font-family: Gotham;
    font-size: 12px;
    font-weight: 300;
    line-height: 24px;
    text-transform: uppercase;
}
#checkout-review-table .item-description .item-options{
	display: none;
}
#checkout-review-table .item-description {
    padding: 10px 0 0 10px;
}
#checkout-review-table .item-description h3{
    font-size: 11px;
    color: #000000;
}
.payment-text-cms p {
    font-family: Arial;
    color: #666;
}
.opc-heading .opc-menu .opc-login-trigger:hover {
    background-color: #bebbbb;
    transition: 1s;
}
.opc-heading .opc-menu .opc-login-trigger {
	position: relative;
    background-color: #3F3FF5;
    text-transform: inherit;
    font-family: Gotham;
    width: 170px;
    height: 30px;
    line-height: 30px;
    color: white;
    border-radius: 100px;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.opc-heading .opc-menu .opc-login-trigger:before {
    content: "\f090";
    font: normal normal normal 14px/1 FontAwesome;
    position: absolute;
    left: 10px;
    top: 8px;
}
.opc-wrapper-opc .create-account label {
    font-size: 14px !important;
    font-weight: bold;
    font-family: Arial;
}
.opc-wrapper-opc .shipping-block p{
	color:#666;
	font-size: 11px;
	font-family: Gotham;
	font-style: normal;
}
.opc-wrapper-opc label {
	font-family: Gotham;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 300;
	line-height: 14px;
	letter-spacing: 1px;
}
.opc-index-index #register-customer-password .field{
	width: 100%;
}
.opc-index-index #register-customer-password .field label{
	float: left;
}
.opc-index-index #register-customer-password .field label:after{
	display: none;
}
.opc-index-index #register-customer-password .field input{
    width: 100%;
    margin-left: 0px !important;
    float: left !important;
}
.opc-index-index .order-products-table tbody tr{
    border-bottom: 0px solid #e2e2e2;
    height: 80px;
}
.opc-index-index .order-products-table tbody tr:last-child{
	border-bottom: 0;
}
.opc-index-index .opc-footer {
    margin-top: 40px !important;
    margin-bottom: 30px;
}
.opc-index-index .opc-footer .opc-footer-left .copyright{
    line-height: 46px;
    margin-left: 20px;
    color: #878787;
}
.opc-index-index .opc-footer .opc-footer-left .cmsblock img{
    float: left;
}
.opc-index-index .opc-footer .opc-footer-center{
	line-height: 40px;
}
.opc-index-index #shipping-block-methods{
	position: relative;
    padding: 0 5%;
}
.opc-index-index #necesitasayuda{
	color: #e76012 !important;
	font-size: 11px;
	font-family: arial;
	position: absolute;
	right: 0;
	top: 5px;
}
.opc-index-index .opc-footer .opc-footer-right img{
	float: right;
	padding-top: 15px;
}
.opc-index-index .create-account p {
    font-size: 12px;
    font-family: Arial;
}
.opc-index-index .table-totals {
	float: right;
    width: 70%;
    padding: 0;
    box-shadow: none;
    padding-right: 20px;
    text-align: right;

}
.opc-index-index .table-totals tfoot tr td.a-right:first-child{
    float: left;
}
.opc-index-index .table-totals tfoot tr td.a-right:last-child{
    float: right;
}
.opc-index-index .table-totals tfoot{
    float: left;
    width: 100%;
}
.opc-index-index .table-totals tfoot tr{
	float: left;
	width: 100%;
    margin-bottom: 10px;
}
.opc-index-index .table-totals tfoot tr:first-child{
    border-top: 0px solid #e2e2e2;
    padding-top: 24px;
    padding-bottom: 15px;

}
.opc-index-index .table-totals tfoot tr td strong{
	color: black;
    font-family: Gotham;
    font-size: 21px;
    font-weight: 400;
    line-height: 42px;
    text-transform: uppercase;
}
.opc-index-index .table-totals tfoot tr td strong .price{
	color: black;
	font-family: Gotham;
    font-weight: 400;
}
.opc-index-index .table-totals tfoot tr:last-child{
    border-top: 0px solid #e2e2e2;
    padding-top: 0;
    margin-top: 0;
}
.opc-wrapper-opc .shipping-block li label {
    line-height: 22px;
}
.opc-index-index .bottom-footer {
    padding-top: 20px;
    padding-bottom: 20px;
    float: left;
    width: 100%;
    border-top: 0px;
    display: none;
}
.opc-wrapper-opc #checkout-review-table h3.product-name {
	color: black;
	font-size: 12px;
	font-weight: 500;
	line-height: 16px;
	margin-bottom: 0;
    padding: 0;
    text-transform: uppercase;
    background: transparent;
    border: none;
    letter-spacing: 2px;
}
.opc-index-index div#newsletter {
	display: none;
}
.campos-obligatorios {
	color: #666;
	font-family: Gotham;
	font-size: 12px;
	font-weight: 300;
	line-height: 20px;
	float: left;
    padding-bottom: 20px;
    width: 100%;
}
#billing-new-address-form fieldset {
	float: left;
    width: 100%;
}
.opc-wrapper-opc .opc-col-left .form-list #register-customer-password {
	padding: 0 30px;
}
.opc-wrapper-opc .opc-col-left .form-list #register-customer-password .text-register-customer {
	color: #666;
	font-family: Gotham;
	font-size: 12px;
	font-weight: 300;
	line-height: 20px;
	float: left;
	width: 100%;
	margin-bottom: 20px;
}
form#co-payment-form {
    padding: 0 30px;
}
.opc-index-index .opc-wrapper-opc .discount-block {
    display: none;
}
.opc-index-index .opc-wrapper-opc .discount-block h3 {
    padding-left: 15px;
    margin-left: 5%;
}
.opc-index-index #modal-login .form-list input{
	width: 100%;
}
.opc-index-index .opc-heading #modal-login #login-button-set span {
    float: left;
    position: relative;
    line-height: 37px;
    color: #fff;
    font-family: Gotham;
    font-size: 12px;
    font-weight: 300;
    margin: 0px;
    background-color: #3F3FF5;
    border-radius: 100px;
}
.opc-index-index .opc-heading #modal-login .md-modal-footer #login-button-set a {
    font-size: 10px;
    margin-top: 9px;
    text-decoration: none;
    float: left;
}
.opc-index-index .opc-heading #modal-login .md-modal-header h4 {
    padding: 12px 20px;
    color: #4a4a4a;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 0;
}
.opc-index-index .page {
    border-top: 0px;
}
.opc-index-index .header-top .sticky-centrar {
    display: none;
}
.opc-index-index #header {
    display: block;
    border-bottom: 1px solid #ddd;
}
.opc-index-index #header #header-nav {
    display: none;
}

.opc-index-index .inchoo-socialconnect-register {
    float: left;
}
.opc-index-index .inchoo-socialconnect-register-facebook {
    float: left;
    width: 100%;
}
.opc-index-index .inchoo-socialconnect-register-facebook h2.legend {
    display: none;
}
.opc-index-index .inchoo-socialconnect-register-facebook p {
    display: none;
}
.opc-index-index .inchoo-socialconnect-register-facebook  div.inchoo-socialconnect-facebook-right {
    display: none;
}
.opc-index-index .inchoo-socialconnect-register-facebook div.inchoo-socialconnect-facebook-inner {
    height: 30px !important;
    float: left !important;
    margin-left: 0!important;
    background: #3c599f !important;
    padding: 0 15px !important;
    text-shadow: 1px 1px #1c376d;
    border-radius: 100px;
}
.opc-index-index .inchoo-socialconnect-register-facebook div.inchoo-socialconnect-facebook-inner:hover {
    background-color: #bebbbb !important;
    transition: 1s;
}
.opc-index-index .inchoo-socialconnect-register-facebook .inchoo-socialconnect-facebook-inner a:before {
    content: "\f09a";
    font: normal normal normal 15px/1 FontAwesome;
    margin-right: 10px;
    color: #fff;
    float: left;
    line-height: 30px;
}
.opc-index-index .inchoo-socialconnect-register-facebook div.inchoo-socialconnect-facebook {
    float: right;
    height: 30px !important;
    background: none;
    border-radius: 100px;
}
.opc-index-index .inchoo-socialconnect-register-facebook div.inchoo-socialconnect-facebook-inner a {
    color: #FFFFFF;
    letter-spacing: 1px;
    font-family: Gotham;
    font-size: 12px;
    font-weight: 300;
    line-height: 30px;
    text-transform: uppercase;
}

.opc-index-index  .page-header-container {
    text-align: center;
    border-bottom: 1px solid #e3e3e3;
}
.opc-index-index #header .logo-container {
    float: left;
    margin-left: 0px;
    line-height: 1;
    width: 100%;
    text-align: center;
}
.opc-index-index .mobile-nav-container .skip-link{
    display: none !important;
}
.opc-index-index .page-header-container .logo {
    max-width: none;
    min-height: 0;
    float: left;
    text-align: center;
    width: 100%;
    padding: 20px 0;
}
.opc-index-index .container-fluid{
    padding: 0;
    margin: 0;
}

/*ECLOUD CUSTOMIZACION CHECKOUT */
/*RESPONSIVE*/
@media (min-width: 768px) {
	.modal-dialog {width: 305px;    margin: 30px auto;  }
	#agreement-dialog .modal-dialog{width:600px}
	.modal-content {-webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);            box-shadow: 0 5px 15px rgba(0, 0, 0, .5);  }
	.modal-sm {   width: 300px;}
}

@media (max-width: 980px) {
	#checkout-review-table thead > tr > th{display:table-cell}
	.opc-wrapper-opc #opc-review-block{width:288px;}
	/*.opc-wrapper-opc .giftcard .check-gc-status{float: none !important;margin-left: 0 !important;text-align: left !important;}*/
	.opc-wrapper-opc .payment-block select{box-sizing: border-box !important}
	.opc-wrapper-opc .opc-col-left .fields .field{float:right;}
	.opc-wrapper-opc .opc-col-left .fields .field:first-child{float:left;}
	.opc-wrapper-opc .opc-data-table{width:100%;}
	.opc-index-index .opc-footer {float: left; padding: 26px 20px; margin-top: 0!important; padding-top: 0 !important;}
	.opc-index-index .opc-footer .grid12-4{width: 100%;}
	.opc-index-index .opc-footer .opc-footer-right img { float: left; padding-top: 0;}
	.opc-index-index .opc-heading { padding:0;}
	/*.opc-index-index .opc-heading .chat { right: 10px; top: -50px;}*/
    .opc-index-index .opc-heading .container {padding: 0;}
    .opc-wrapper-opc h2 { width: 100%;}
}

@media (max-width: 767px) {
	.opc-wrapper-opc .opc-menu .paypal-logo{margin:0 30px 10px 0;}
	.opc-index-index .opc-heading .container .opc-menu { width: 100%; padding: 0 10px;    margin-top: 15px;}
    .opc-wrapper-opc .opc-column{width:100%;margin-bottom:30px;margin-left:0;}
}
@media (max-width: 500px) {
	.opc-wrapper-opc .opc-login-trigger{width:130px;}
    .opc-wrapper-opc .opc-column {float: left; width: 94%; margin-left: 10px; }
    .opc-index-index .container{ padding: 0; }
    .opc-index-index .breadcrumbs { padding: 0 10px;}
    .opc-index-index .opc-heading .container .opc-menu span{ width: 100%; margin: 0; }
    .opc-index-index .table-totals {padding: 0 30px;}
    .opc-index-index .opc-footer .opc-footer-left .copyright{ margin-left: 0px !important;  }
    #checkout-review-table .quantity {padding-right: 14px;}
    .opc-index-index .opc-footer .opc-footer-left .copyright{margin-left: 0px !important;}
    .opc-wrapper-opc input.radio:checked {background:black;}
    .opc-wrapper-opc input.radio {margin-right:5px;}
    #checkout-shipping-method-load .sp-methods span.method-title {font-size: 12px !important;}
    .sp-methods .price {font-size: 16px;}
    .opc-index-index #shipping-block-methods {padding: 0 20px;}
    form#co-payment-form {padding: 0 20px;}
    #checkout-review-table-wrapper { padding: 0px 20px;}
    .opc-index-index .table-totals {padding: 0 20px;}
    #checkout-review-table .quantity {
    padding-right: 14px;}
}
@media (max-width: 380px) {
	.opc-wrapper-opc .opc-login-trigger{width:86px;}
    #modal-login .md-content{width: 80%;margin-left: 1%;   margin-right: auto;}
    .md-effect-7 {
    backface-visibility: inherit;
    -webkit-backface-visibility: inherit;
    top: 10%;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    transform: none;
}

#login-button-set {       text-align: center;}
.opc-wrapper-opc .btn {    margin-top: 4%;}
.opc-index-index .opc-heading #modal-login .md-modal-header h4 {  padding: 12px 30px 12px 20px;}
.md-modal-footer { padding-top: 5px;}
}



@media (max-width: 320px) {
	.opc-wrapper-opc .opc-login-trigger{width:86px;}
	/*.opc-wrapper-opc .giftcard .check-gc-status{float: none !important;margin-left: 0 !important;text-align: left !important;}*/
	.opc-wrapper-opc .input-box .v-fix{width:45%;}
	.opc-wrapper-opc .input-box .v-fix +.v-fix {float:right;}
	.opc-wrapper-opc .input-box .v-fix{margin-right:0}
	.opc-wrapper-opc .payment-block select{box-sizing: border-box !important}
	.opc-wrapper-opc .opc-menu .paypal-logo{margin:0 0 10px;}
    .opc-wrapper-opc .shipping-block li label {
        line-height: 10px;
        padding: 5px 0 !important;
        min-width: auto !important;
    }
    .opc-index-index .opc-heading .chat {
        position: absolute;
        bottom: 16%;
        right: 5%;
        top: auto;
    }
}
.opc-index-index #header .logo {max-width: 130px;}
.opc-wrapper-opc #agreement-1 {
    margin-top: 12px !important;
}
div#modal-login {
    z-index: 99999;
}

.opc-index-index #header .search-account-minicart .search #header-search {
    display: none;
}
.opc-index-index #header .search-account-minicart .account .skip-account {
    display: none;
}
.opc-index-index #header-sticky-wrapper.is-sticky .header-top {
    display: none;
}