<?php
/**
 * aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This software is designed to work with Magento community edition and
 * its use on an edition other than specified is prohibited. aheadWorks does not
 * provide extension support in case of incorrect edition use.
 * =================================================================
 *
 * @category   AW
 * @package    AW_Autorelated
 * @version    2.4.12
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE.txt
 */
?><?php $abstractBlock = $this->helper('awautorelated')->getAbstractProductBlock() ?>
<?php if ($this->getCollection() && $this->getCollection()->getSize()) : ?>
    <div id="aw-arp-list" class="aw-arp-block-<?php echo $this->getData('id') ?>">
        <div class="block-title">
            <strong>
                <span><?php echo $this->htmlEscape($this->getData('name')) ?></span>
            </strong>
        </div>
        <div class="container-fluid">
            <ul class="owl-carousel col-xs-10">
                <?php foreach ($this->getCollection() as $product) : ?>
                    <li class="item product_item">
                        <div class="product-info">
                            <a class="product-image" href="<?php echo $abstractBlock->getProductUrl($product) ?>"><img src="<?php echo $this->helper('catalog/image')->init($product, 'thumbnail')->resize(250) ?>" alt="<?php echo $this->htmlEscape($product->getName()) ?>" width="250" height="250" /></a>
                            <span class="product-name">
                                <a href="<?php echo $abstractBlock->getProductUrl($product) ?>"><?php echo $this->htmlEscape($product->getName()) ?></a>
                            </span>
                            <?php echo $abstractBlock->getPriceHtml($product, true, '-related') ?>
                            <div class="actions">
                                <?php if ($product->isSaleable()) : ?>
                                    <button type="button" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Add to Cart')) ?>" class="button btn-cart" href="javascript:setLocation('<?php echo $abstractBlock->getAddToCartUrl($product) ?>');"><span><span><?php echo $this->__('Add to Cart') ?></span></span>
                                    </button>
                                <?php else : ?>
                                    <p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
                                <?php endif ?>
                                <?php if ($this->helper('wishlist')->isAllow()) : ?>
                                    <ul class="add-to-links">
                                        <li><a href="javascript:setLocation('<?php echo $abstractBlock->getAddToWishlistUrl($product) ?>')" class="link-wishlist"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                                        </li>
                                    </ul>
                                <?php endif; ?>
                            </div>
                        </div>
                    </li>
                <?php endforeach ?>
            </ul>
        </div>
    </div>
<?php endif;?>