<?php

// Datos de la imagen
$img = $this->getData('gimg');
$size = 300;
$path = $this->getData('gpath');
$alt = $this->getData('galt');

// Datos de la categoria
$_helper        = $this->helper('catalog/output');
$category       = Mage::getModel('catalog/category')->load($this->getData('category_id'));
$imgUrl   	    = $category->getImageUrl();
$categoryUrl    = $category->getUrl();
$categoryName   = $category->getName();

if ($img == '') {
	$imagePath = $imgUrl;
}
if ($alt == '') {
	$alt = $categoryName;
}
// Controla si existe la imagen resized, y si no, la crea
$resizePath = Mage::getBaseDir ('media') . $path . "resized/" . $size . $img;
if (!file_exists($resizePath)):
    $imagePath = Mage::getBaseDir('media') . $path . $img;
    $imageObj = new Varien_Image($imagePath);
    $imageObj->constrainOnly(TRUE);
    $imageObj->keepAspectRatio(TRUE);
    $imageObj->keepFrame(FALSE);
    $imageObj->resize($size, null);
    $imageObj->save($resizePath);
endif;
// Imagen resized
$resizeUrl = Mage::getBaseUrl ('media') . $path . "resized/" . $size . $img;
?>
<a href="<?php echo $categoryUrl; ?>">
    <img src="<?php echo $resizeUrl; ?>" alt="<?php echo $alt; ?>" />
    <span class="subcat-title"><?php echo $alt; ?></span>
</a>