<?php
// Categoria
$_helper        = $this->helper('catalog/output');
$category       = Mage::getModel('catalog/category')->load($this->getData('category_id'));
$imgUrl   	    = $category->getImageUrl();
$categoryUrl    = $category->getUrl();
$categoryName   = $category->getName();
$btn_label      = $this->getData('btn-label');

// Datos de la imagen de categoria obtenida del bloque
$img = $this->getData('catimg');
$size = 380;
$path = $this->getData('gpath');

// Resize de la imagen de categoria
if ($img == '') {
	$imagePath = $imgUrl;
}

// Controla si existe la imagen resized, y si no, la crea
$resizePath = Mage::getBaseDir ('media') . $path . "resized/" . $size . $img;
if (!file_exists($resizePath)):
    $imagePath = Mage::getBaseDir('media') . $path . $img;
    $imageObj = new Varien_Image($imagePath);
    $imageObj->constrainOnly(TRUE);
    $imageObj->keepAspectRatio(TRUE);
    $imageObj->keepFrame(FALSE);
    $imageObj->resize($size, null);
    $imageObj->save($resizePath);
endif;
// Imagen resized
$resizeUrl = Mage::getBaseUrl ('media') . $path . "resized/" . $size . $img;

// 2 productos de la categoria

$collection = $category->getProductCollection()
->setPageSize(2)
->addAttributeToSelect(array('name','special_price', 'price','image'))
->addAttributeToSort('position', 'ASC');
Mage::getSingleton('catalog/product_status')->addVisibleFilterToCollection($collection);
Mage::getSingleton('catalog/product_visibility')->addVisibleInCatalogFilterToCollection($collection);
Mage::getSingleton('cataloginventory/stock')->addInStockFilterToCollection($collection);
$_items = $collection->getItems();

?>

<div class="tendencias build2">
	<div class="banner-content">
		<ul class="subcategories izquierda">
			<?php foreach ($_items as $product): ?>
				<li class="row">
					<a href="<?php echo $product->getProductUrl();?>">
						<img src='<?php echo $this->helper('catalog/image')->init($product, 'image')->resize(300, 300) ?>'/>
					</a>
					<div class="texto">
						<span class="prod-name">
							<?php echo $product->getName(); ?>
						</span>
						<span class="prodprice">
							<?php echo $this->getPriceHtml($product,true); ?>
						</span>
					</div>
				</li>
			<?php endforeach; ?>
		</ul>
		<div class="derecha">
			<div class="image-description">
				<div class="category-image">
					<a href="<?php echo $categoryUrl;?>">
						<img src='<?php echo $resizeUrl; ?>'/>
					</a>
				</div>
			</div>
			<div id="categorydescription" class="description">
				<span class="text">
					<?php echo $category->getDescription(); ?>
				</span>
				<a class="ver-mas" href="<?php echo $categoryUrl; ?>">
					<?php echo $btn_label ?>
				</a>
			</div>
		</div>
	</div>
</div>
