<div>
Integracion: {{var integration_name}} <br/>
Hora de ejecucion: {{var executed_at}} <br/>
Archivo procesado: {{var processed_file_name}} <br/>
Status: {{var execution_status}} <br/>
Total registros: {{var total_records}} <br/>
Procesados exitosamente: {{var records_processed_correctly}} <br/>
Errores: {{var records_processed_incorrectly}} <br/>
Archivo movido: {{var file_moved}}<br/>
Duracion: {{var cost_time}}<br/>
</div>
