<?php

/** @var $this Vbw_Vartools_Block_Adminhtml_Filemanager */
$directory = $this->getDirectory();

?>
<style>
    .entry-edit select {
        width:160px;
    }
    .entry-edit .grep {
        width:130px;
    }
    .cleardiv {
        clear:both;
        width:100%;
        display:block;
        height:1px;
    }
</style>


<div class="content-header">
    <table cellspacing="0">
        <tr>
            <td><h3 class="icon-head">Var File Manager</h3></td>
        </tr>
    </table>
</div>

<div class="entry-edit">
    <div class="box-left">
        <form>
            <div class="entry-edit-head">
                <h4 class="icon-head head-edit-form fieldset-legend">
                    Change Directory
                </h4>
            </div>
            <fieldset>
                <legend>Switch Directory</legend>
                <select name='directory'>
                    <option value=''>[ Directory ]</option>
                    <?php foreach ($this->getManagedDirectories() AS $dir) {
                    echo "<option ". ($dir == $directory ? 'selected' : '') ." value='{$dir}'>{$dir}</option>\n";
                } ?>
                </select>
                <button class="scalable " style="" onclick="this.form.submit()" type="button" title='Switch Directory' >Switch Directory</button>
            </fieldset>
        </form>
    </div>

    <?php if (!empty($directory)) { ?>
    <div class="box-right">
        <form action="" method="post" enctype="multipart/form-data">
            <div class="entry-edit-head">
                <h4 class="icon-head head-edit-form fieldset-legend">
                    Upload File to <?php echo $this->__($directory); ?>
                </h4>
            </div>
            <fieldset>
                <input type="file" name="file" id="file">
                <input type="hidden" name="form_key" value="<?php echo Mage::getSingleton('core/session')->getFormKey(); ?>" />
                <button class="scalable " style="" onclick="this.form.submit()" type="button" title='Upload' >Upload</button>
            </fieldset>
        </form>
    </div>
    <?php } ?>

    <div class="cleardiv"></div>
</div>

<?php
    $filesOptions = $this->getDirectoryFiles($directory);
    if (!empty($directory)
            && is_array($filesOptions)) {
?>
<div class="entry-edit">
    <div class="box-full">
        <form action="?directory=<?php echo urlencode($directory); ?>" method="post">
            <input type="hidden" name="form_key" value="<?php echo Mage::getSingleton('core/session')->getFormKey(); ?>" />
            <input type='hidden' name='file_action' id='file_action' value='' />
            <input type='hidden' name='renamed_file' id='renamed_file' value='' />
            <div class="entry-edit-head">
                <h4 class="icon-head head-edit-form fieldset-legend">
                    Manage Files From <?php echo $this->__($directory); ?>
                </h4>
            </div>
            <fieldset>

            <div class='box-left'>
            <table cellspacing=10>
                <?php foreach ($filesOptions AS $file) { ?>
                <tr>
                    <td><input type='checkbox' name='selection[]' class='file_option' value='<?php echo $file['name']; ?>'></td>
                    <td><a href="<?php echo $this->getUrl('adminhtml/logviewer',array('_query'=>array('directory'=>$directory,'file'=>$file['name']))); ?>"><?php echo $file['name']; ?></td>
                    <td><?php echo $this->formatSize($file['size']); ?></td>
                    <td><?php echo date('Y-m-d H:i:s',$file['modified']); ?></td>
                </tr>
                <?php } ?>
            </table>
            </div>
            <div class=box-right>
                <br>
                <button name="remove" onclick="return compress_files();">Compress File(s)</button><br><br>
                <button name="remove" onclick="return delete_files();">Delete File(s)</button><br><br>
                <button name="rename" onclick="return rename_file();">Rename File</button><br><br>
                <button name="download" onclick="return download_file();">Download File</button>
            </div>
            </fieldset>
        </form>
    </div>
</div>
<?php } ?>

<script>
    function compress_files ()
    {
        if (_validate()){
            //Prompt for confirmation
            if (confirm('Are you sure you want to compress the selected file(s)?')){
                $('file_action').value='compress';
                return true;
            }
        }
        return false;
    }

    function delete_files() {
        if (_validate()){
            //Prompt for confirmation
            if (confirm('Are you sure you want to remove the selected file(s)?')){
                $('file_action').value='delete';
                return true;
            }
        }
        return false;
    }

    function rename_file(){
        if (_validate()){
            $('renamed_file').value = prompt("Rename file to: ");
            if ($('renamed_file').value == '') {
                alert("You must provide a file name.");
                return false;
            }
            $('file_action').value='rename';
            return true;
        }
        return false;
    }

    function download_file(){
        if (_validate()){
            $('file_action').value='download';
            return true;
        }
        return false;
    }

    function _validate() {
        var selected = $$('.file_option:checked');
        if (selected.length == 0) {
            alert("You must select a file.");
            return false;
        }
        return true;
    }
</script>
