<?php

/** @var $this Vbw_Vartools_Block_Adminhtml_Logviewer */
$directory = $this->getDirectory();
$file = $this->getFile();
$grep = $this->getGrep();

/** @var $helper Vbw_Vartools_Helper_Data */
$helper = $this->helper('vbw_vartools');
/** @var $url Mage_Core_Helper_Url */
$url = $this->helper('core/url');
?>
<style>
    .entry-edit select {
        width:160px;
    }
    .entry-edit .grep {
        width:130px;
    }
    .cleardiv {
        clear:both;
        width:100%;
        display:block;
        height:1px;
    }
    #viewer-portal {
        overflow:auto;
        height:400px;
        background-color:#efefef;
        border:1px solid rgb(214, 214, 214);
    }
    #viewer-portal .results {
        font-size:10px;
        padding:10px 0px;
        font-family: "Courier";
    }
    #viewer-portal .results span.line {
        display:block;
        position:relative;
        padding:0px 20px 0px 40px;
    }
    #viewer-portal .results span.count {
        position:absolute;
        top:0px;
        left:0px;
        width:30px;
        text-align: right;
        font-weight:bold;
    }

</style>
<div class="content-header">
    <table cellspacing="0">
        <tr>
            <td><h3 class="icon-head">Log Viewer</h3></td>
        </tr>
    </table>
</div>

<div class="entry-edit">
    <div class="box-left">
        <form>
        <div class="entry-edit-head">
            <h4 class="icon-head head-edit-form fieldset-legend">
                Change Directory
            </h4>
        </div>
        <fieldset>
            <legend>Switch Directory</legend>
            <select name='directory'>
                <option value=''>[ Directory ]</option>
                <?php foreach ($this->getLogDirectories() AS $dir) {
                echo "<option ". ($dir == $directory ? 'selected' : '') ." value='{$dir}'>{$dir}</option>\n";
            } ?>
            </select>
            <button class="scalable " style="" onclick="this.form.submit()" type="button" title='Switch Directory' >Switch Directory</button>
        </fieldset>
        </form>
    </div>

    <div class="box-right">
    <form>
    <?php
        $filesOptions = $this->getDirectoryFiles($directory);
        if (!empty($directory)
                && is_array($filesOptions)) {
            ?>

        <div class="entry-edit-head">
            <h4 class="icon-head head-edit-form fieldset-legend">
                View / Grep File From : <a href="<?php echo $this->getUrl('adminhtml/filemanager',array("_query"=>array("directory"=>$directory))); ?>"><?php echo $this->__($directory); ?></a>
            </h4>
        </div>
        <fieldset>
            <?php if (empty($filesOptions)) { ?>
                <b>No files were found.</b>
            <?php } else { ?>
                <input type="hidden" name="directory" value="<?php echo $this->escapeHtml($directory) ?>" />
                <input type="text" name="grep" value="<?php echo $this->escapeHtml($grep); ?>" class="grep"/>
                <select name="file">
                    <?php foreach ($filesOptions AS $fileItem) {
                        echo "<option ". ($fileItem['name'] == $file ? 'selected' : '') ." value='{$fileItem['name']}'>{$fileItem['name']}</option>\n";
                    } ?>
                </select>
                <button class="scalable " style="" onclick="this.form.submit()" type="button" title='View' >View</button>
            <?php } ?>
        </fieldset>
            <?php
        }
    ?>
    </form>
    </div>
    <div class='cleardiv' ></div>
</div>

<?php
$results = $this->getGrepResults();

if (!empty($results)) {
?>
<div class='entry-edit'>
    <div class='box-full'>
    <div class="entry-edit-head">
        <h4 class="icon-head head-edit-form fieldset-legend">
            Results from <a href="<?php echo $this->getUrl('adminhtml/filemanager',array("_query"=>array("directory"=>$directory))); ?>"><?php echo $directory; ?></a>/<?php echo $file ?> <?php echo ($grep ? ': '. $grep : ''); ?>
        </h4>
    </div>
<div id="viewer-portal"><div class="results"><?php
    if (is_array($results)) {
        $count = 0;
        foreach ($results AS $line) {
            echo "<span class='line'><span class='count'>{$count}</span>". str_replace(' ','&nbsp;',htmlentities($line)) ."</span>";
            $count++;
        }
    } else {
        echo $results;
    }
?></div></div>
    </div>
</div>
<?php } ?>