@mixin mytransition($propiedad, $duracion, $tipo:ease-out, $delay: null){
    -webkit-transition	: $propiedad $duracion $tipo $delay;
    -moz-transition		: $propiedad $duracion $tipo $delay;
    -o-transition		: $propiedad $duracion $tipo $delay;
    transition 			: $propiedad $duracion $tipo $delay;
}

%botonPrim {
	color: $c-text-white;
    cursor: pointer;
    background-color: #3F3FF5;
    padding: 0 30px;
    float: left;
    font-size: 12px;
    font-weight: 300;
    text-transform: uppercase;
    font-family: $f-stack-default;
    letter-spacing: 1px;
    transition: opacity 300ms;
    border-radius: 100px;
    line-height: 39px;
    border: 0px solid #000;
    &:hover{
        text-decoration: none;
        opacity: 0.8;
    }
}