<div class="comment-block">
<h3><?php echo $this->__('Autorizo a recibir a:')?><span class='fa expand_plus'></span></h3>
    <div  class="collapse-block hidden">
	<form autocomplete="off">
	    <div class="comment">
	        <div class="comment-form">            
	            <div class="input-box">	                
	                <textarea class="input-text" id="customer_comment" placeholder="Nombre y apellido como figure en el DNI" name="customer_comment"></textarea>
	            </div>	            
	        </div>
	    </div>
	</form>
	</div>
</div>