/**
 *
 * ClearTheme Enterprise Edition
 *
 */

/* ========================================================================== */
/* Reset ==================================================================== */

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@font-face {
    font-family: 'Mango';
    font-style: normal;
    font-weight: 100;
    src: url('../fonts/mangosans.ttf') format('truetype');
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
p {
    font-size: 12px;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {font-family:'Mango';background-image: url('../images/maintenance.jpg');background-repeat:no-repeat;background-attachment:fixed;background-position:center;background-color: #fff;background-size: cover;}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

.wrapper {
}
.main-container {
    width: 100%;
    text-align: center;
    position: absolute;
    margin: 0 auto;
    background: none;
    height: auto;
}
#main {
    padding: 150px 0;
}
.title img{
    display: inline-block;
    max-width: 100%;
}
.title {
    max-width: 46%;
    display: inline-block;
}
.logo {
    padding: 40px 0;
    float: left;
    width: 100%;
}
.logo img {
    display: block;
    margin: 0 auto;
}
.page-title {
    color: #cdb296;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 20px;
}
.page-content {
    color: #afafaf;
    font-size: 11px;
    padding: 0 20px 20px 20px;
}
@media only screen and (max-width: 767px){
    .title {
        max-width: 90%;
        display: inline-block;
        margin-bottom: 10%;
    }
}