<?php
$_helper = $this->helper('catalog/output');
$_product = $this->getProduct();
?>
<script type="text/javascript">
    var optionsPrice = new Product.OptionsPrice(<?php echo $this->getJsonConfig() ?>);
</script>
<div class="product-view ajaxview col-xs-12">
    <div class="product-essential col-xs-7">
        <form action="<?php echo $this->getSubmitUrl($_product) ?>" method="post" id="product_addtocart_form"
            "<?php if($_product->getOptions()): ?> enctype="multipart/form-data"<?php endif;?>" />
            <div class="no-display">
                <input type="hidden" name="product" value="<?php echo $_product->getId() ?>" />
                <input type="hidden" name="related_product" id="related-products-field" value="" />
            </div>
            <div class="product-image-container" style="width:100%;">
                <div class="product-img-box">
                    <?php echo $this->getChildHtml('media') ?>
                </div>
            </div>
            <?php echo $this->getChildHtml('after'); ?>
    </div>
    <div class="product-shop col-xs-5">
        <div class="product-name">
            <span class="h1"><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></span>
        </div>
        <div class="extra-info">
            <?php echo $this->getChildHtml('product_type_availability'); ?>
        </div>
        <div class="price-info">
            <?php echo $this->getPriceHtml($_product); ?>
            <?php echo $this->getChildHtml('bundle_prices') ?>
            <?php echo $this->getTierPriceHtml() ?>
        </div>
        <?php echo $this->getChildHtml('alert_urls') ?>

        <?php //echo $this->getChildHtml('additional') ?>
        <?php echo $this->getChildHtml('other');?>
        <?php if ($_product->isSaleable() && $this->hasOptions()):?>
            <?php echo $this->getChildChildHtml('container1', '', true, true) ?>
        <?php endif;?>
        <?php if ($_product->isSaleable() && $this->hasOptions()):?>
            <?php echo $this->getChildChildHtml('container2', '', true, true) ?>
        <?php endif;?>
        <div class="add-to-cart-wrapper">
            <?php echo $this->getChildHtml('product_type_data') ?>
            <?php echo $this->getChildHtml('extrahint') ?>
            <?php if (!$this->hasOptions()):?>
                <div class="add-to-box">
                    <?php if($_product->isSaleable()): ?>
                        <?php echo $this->getChildHtml('addtocart') ?>
                        <?php if( $this->helper('wishlist')->isAllow() || $_compareUrl=$this->helper('catalog/product_compare')->getAddUrl($_product)): ?>
                            <span class="or"><?php echo $this->__('OR') ?></span>
                        <?php endif; ?>
                    <?php endif; ?>
                    <?php echo $this->getChildHtml('addto') ?>
                    <?php echo $this->getChildHtml('sharing') ?>
                </div>
                <?php echo $this->getChildHtml('extra_buttons') ?>
            <?php elseif (!$_product->isSaleable()): ?>
                <div class="add-to-box">
                    <?php echo $this->getChildHtml('addto') ?>
                    <?php echo $this->getChildHtml('sharing') ?>
                </div>
            <?php endif; ?>
        </div>
        <div class="prod_attributes">
            <?php if ($_product->getShortDescription()):?>
                <div class="attribute short-description">
                    <h4>Descripción</h4>
                    <div class="content std"><?php echo $_helper->productAttribute($_product, nl2br($_product->getShortDescription()), 'short_description') ?>
                    </div>
                </div>
            <?php endif;?>
            <?php if( $_product->getData('composicion') ): ?>
                <div class="attribute composicion">
                    <h4>Composición</h4>
                    <div class="content">
                        <?php echo $_product->getData('composicion');?>
                    </div>
                </div>
            <?php endif; ?>
            <?php if( $_product->getData('como_cuidarlo') ): ?>
                <div class="attribute cuidados">
                    <h4>Cómo cuidarlo</h4>
                    <div class="content">
                        <?php echo $_product->getData('como_cuidarlo');?>
                    </div>
                </div>
            <?php endif; ?>
        </div>
    </div>
    <div class="clearer"></div>
        </form>
</div>
<!-- <div style="display:none;">
    <div id="ajaxCartSuccess" class="col-xs-12">
        <div clas="col-xs-12"style="line-height:30px;">
            <div class="border-related"></div>
            <div class="subtitle">
                <h5><?php //echo $this->__("Product added to cart."); ?></br> <strong><?php //echo $this->__("What do you want to do?"); ?></strong></h5>
                <div class="line"></div>
            </div>
            <div class="fancycart-buttons col-xs-12">
                <button type="button" title="continue" class="col-xs-6 button btn-cart" onclick="FancyQV.continueShopping()"><span><?php //echo $this->__("Continue Shopping"); ?></span></button>
                <button type="button" title="cart" class="col-xs-6 button btn-cart" onclick="FancyQV.goToCart()"><span><?php// echo $this->__("Go to My Cart"); ?></span></button>
            </div>
        </div>
    </div>
</div>-->
<?php $siteurl = Mage::getUrl(); ?>
<?php
    $categories = $_product->getCategoryIds();
    foreach($categories as $categoryId){
        $_category = Mage::getModel('catalog/category')->load($categoryId);
        $currentCategory = $_category;
        break;
    }
?>
<script type="text/javascript">
    //<![CDATA[
    var productAddToCartForm = new VarienForm('product_addtocart_form');
    productAddToCartForm.submit = function (button, url) {
        if (this.validator.validate()) {
            var form = this.form;
            var oldUrl = form.action;
            if (url) {
                form.action = url;
            }
            var e = null;
            // Start of our new ajax code
            if (!url) {
                url = jQuery('#product_addtocart_form').attr('action');
            }
            //url = url.replace("checkout/cart", "brandlivetheme/ajaxcart"); // New Code
            var data = jQuery('#product_addtocart_form').serialize();
                data += '&isAjax=1';
            jQuery('.ajax_load').css('display', 'block');
            try {
               jQuery.ajax({
                   url:url,
                   dataType:'json',
                   type:'post',
                   data:data,
                   success:function(data) {
                        jQuery('.ajax_load').css('display', 'none');
                        parent.Quickview.setAjaxData(data, true);
                        if (data.status == 'SUCCESS') {
                        //     FancyQV.fancyAjaxCartSuccess();
                            parent.$j.fancybox.close();
                            parent.Quickview.reassignLinksClick();
                        }
                   },
                   complete:function(){

                   }
               });
            } catch (e) {
           }
            // End of our new ajax code
            this.form.action = oldUrl;
            if (e) {
                throw e;
            }
        }
    }.bind(productAddToCartForm);
    productAddToCartForm.submitLight = function(button, url){
        if(this.validator) {
            var nv = Validation.methods;
            delete Validation.methods['required-entry'];
            delete Validation.methods['validate-one-required'];
            delete Validation.methods['validate-one-required-by-name'];
            if (this.validator.validate()) {
                if (url) {
                    this.form.action = url;
                }
                this.form.submit();
            }
            Object.extend(Validation.methods, nv);
        }
    }.bind(productAddToCartForm);

    //]]>
</script>
<script>
var FancyQV ={
    fancyAjaxCartSuccess:function(){
        $j.fancybox({
            'autoScale': true,
            'transitionIn': 'elastic',
            'transitionOut': 'elastic',
            'speedIn': 500,
            'speedOut': 300,
            'autoDimensions': true,
            'centerOnScroll': true,
            'href' : '#ajaxCartSuccess',
            'closeBtn' : false
        });
    },
    continueShopping:function() {
        $j.fancybox.close();
        parent.$j.fancybox.close();
        parent.Quickview.reassignLinksClick();
    },
    goToCart:function() {
        $j.fancybox.close();
        parent.$j.fancybox.close();
        window.top.location.href = '<?php echo $siteurl . "checkout/cart/"; ?>';
    }
}
function toggleAttributes(){
    jQuery('.prod_attributes .attribute').click(function(){
        jQuery('.prod_attributes .attribute').removeClass('current');
        jQuery('.prod_attributes .attribute .content').hide();
        jQuery(this).addClass('current');
        jQuery(this).parent().toggleClass('accordion-open');
        jQuery(this).find('.content').show();
    })
}
toggleAttributes();
function maquetarQuickview(){
    jQuery('.more-views').insertBefore('.product-image');
    jQuery('.more-views').addClass('col-xs-3');
    jQuery('.product-image').addClass('col-xs-9');
    jQuery('.thumb-link img').attr('width','300');
}
maquetarQuickview();
function toggleShare(){
    jQuery('.share').click(function(){
        jQuery('.sharing-links').slideToggle();
    });
}
toggleShare();
</script>
<style type="text/css">
  .ajax_load{line-height: 35px !important;}
</style>
