<script type="text/javascript">countryRegions = <?php echo $this->helper('directory')->getRegionJson() ?></script>
<?php
echo $this->getDesignStyles();
$package = Mage::getDesign()->getPackageName();
$theme = Mage::getDesign()->getTheme('frontend');
$is_persistent = Mage::helper('opc')->isPersistentMember();
?>
<div class="opc-wrapper-opc design_package_<?php echo $package;?> design_theme_<?php echo $theme;?>">
    <div class="opc-heading">
    	<div class="container">
    		<div class="logo-container">
    			<div class="checkout-logo">
    				<!-- ECLOUD STATIC 'checkout-header-logo'-->
    				<?php $checkoutlogo = 'checkout-header-logo'; ?>
    				 <?php if (Mage::getModel('cms/block')->load($checkoutlogo)->getIsActive()) : ?>
    				 <a href="<?php echo Mage::getUrl();?>">
    				        <?php echo Mage::app()->getLayout()->createBlock('cms/block')->setBlockId($checkoutlogo)->toHtml(); ?>
    				 </a>
    				<?php endif; ?>
    				<!-- ECLOUD STATIC 'checkout-header-logo'-->
    			</div>
    		</div>
			<div class="opc-menu">
			<h2><?php echo $this->__('Checkout')?></h2>
			<?php if(!$is_persistent):?>
					<?php echo $this->getMessagesBlock()->getGroupedHtml(); ?>
					<?php echo $this->getChildHtml('paypal.button'); ?>
					<?php if (!Mage::getSingleton('customer/session')->isLoggedIn()):?>
						<?php if(Mage::getStoreConfig('customer/inchoo_socialconnect_facebook/enabled')): ?>
							<span><?php echo $this->__('Ahorrá tiempo') ?></span>
						    <?php echo $this->getChildHtml('inchoo_socialconnect_register');?>
						    <span><?php echo $this->__('o bien, ') ?></span>
						<?php endif; ?>
						<?php echo $this->getChildHtml('login');?>
					<?php endif;?>

			    	<div class="right review-menu-block">
			    	  <a class="review-total">
			    	  	<i class="fa fa-2x fa-shopping-cart"></i>
			    	  	<i class="fa fa-2x dd-arrow"></i>
			    	  	<?php echo Mage::helper('opc')->getGrandTotal()?>
			    	  </a>
			    	  <span class="polygon"></span>
			    	  <div class="hidden" id="opc-review-block">
					      <?php echo $this->_getReviewHtml()?>
					  </div>
					</div>
				   <div class="clear move-columns"></div>
			<?php else:?>
				<?php echo $this->getChildHtml('login');?>
			<?php endif;?>
			</div>
			<div class="chat">
				<?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('chat')->toHtml(); ?>
			</div>
		</div>
	</div>

	<!-- <div class="clear"></div> -->

<div <?php if($is_persistent):?>style="display:none !important;"<?php endif;?>>

    <div class="opc-col-left opc-column">
		<form id="opc-address-form-billing" method="post">
        	<?php echo $this->getChildHtml('billing')?>
        </form>

        <form id="opc-address-form-shipping" class="hidden" method="post">
        <?php echo $this->getChildHtml('shipping')?>
        </form>

    </div>

    <div class="opc-col-center opc-column">
       <?php if (!$this->getOnepage()->getQuote()->isVirtual()):?>
    	<div class="shipping-block">
        	<h3><span class="step-number">2</span><?php echo $this->__('Shipping Method')?></h3>
        	<div id="shipping-block-methods">
        		 <!--ECLOUD STATIC BLOCK "AYUDA-SHIPPING"-->
        		<?php if ( Mage::getModel('cms/block')->load('ayuda-shipping')->getIsActive() ) : ?>
                <a href="#fancyayuda" id="necesitasayuda"><?php echo $this->__('¿Necesitás ayuda?')?></a>
                <div>
                    <div id="fancyayuda" style="display: none">
                        <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('ayuda-shipping')->toHtml(); ?>
                        <script type="text/javascript">
                        jQuery("#necesitasayuda").fancybox({
                            'href' : '#fancyayuda',
                            'titleShow' : false,
                            'transitionIn' : 'elastic',
                            'transitionOut' : 'elastic'
                        });
                        </script>
                    </div>
                </div>
                <?php endif; ?>
                <!--ECLOUD STATIC BLOCK "AYUDA-SHIPPING"-->
				<?php echo $this->getChildHtml('shipping_method');//$this->_getShippingMethodsHtml();?>
			</div>
		</div>
		<?php endif;?>

		<?php if(Mage::helper('opc')->isShowDiscount()):?>
		<div class="discount-block">
			<h3><?php echo $this->__('Discount Codes')?><span class='fa expand_plus'></span></h3>
			<div  class="collapse-block hidden">
			     <?php echo $this->getChildhtml('coupon');?>
			</div>
		</div>
		<?php endif;?>

		<?php if(Mage::helper('opc')->isShowComment()):?>
			<?php echo $this->getChildhtml('customer.comment');?>
		<?php endif;?>
		<div class="payment-block <?php if ($this->getOnepage()->getQuote()->isVirtual()):?>clear-margin<?php endif;?>">
			<h3><span class="step-number">3</span><?php echo $this->__('Payment Method')?></h3>
			<?php echo $this->getChildHtml('payment')//$this->_getPaymentMethodsHtml();?>
		</div>
    </div>

    <div class="opc-col-right opc-column">
    	<!--ECLOUD CUSTOM-->
		<?php /*<div class="payment-block <?php if ($this->getOnepage()->getQuote()->isVirtual()):?>clear-margin<?php endif;?>">
			<h3><?php echo $this->__('Payment Method')?></h3>
			<?php echo $this->getChildHtml('payment')//$this->_getPaymentMethodsHtml();?>
		</div>*/?>
		<!--ECLOUD CUSTOM-->
		<h3 class="review-title"><span class="step-number">4</span><?php echo $this->__('Review Your Order')?></h3>

		<div id="opc-totals-block"><?php echo $this->_getReviewHtml(); ?></div>
    </div>

</div>

</div>
<!--ECLOUD CUSTOM FOOTER-->
<div class="opc-footer col-xs-12">
	<div class="opc-footer-left col-sm-6 col-xs-12">
			<!-- ECLOUD STATIC BLOCK 'opc-footer-left' -->
		 	<?php $opcfooterleft = 'opc-footer-left'; ?>
		 	<?php $storeCopyright = Mage::getStoreConfig('design/footer/copyright');?>
		  	<?php if (Mage::getModel('cms/block')->load($opcfooterleft)->getIsActive()) : ?>
		     <span class="cms-footer-left">
		        <span class="cmsblock"><?php echo Mage::app()->getLayout()->createBlock('cms/block')->setBlockId($opcfooterleft)->toHtml(); ?></span>
		        <span class="copyright col-xs-12"><?php echo $storeCopyright; ?></span>
		     </span>
		   <?php endif; ?>
		 	<!-- ECLOUD STATIC BLOCK 'opc-footer-left' -->
	</div>
	<div class="opc-footer-right col-sm-6 col-xs-12">
		<!-- ECLOUD STATIC BLOCK 'opc-footer-right' -->
	 	<?php $opc_footer_right = 'opc-footer-right'; ?>
	  	<?php if (Mage::getModel('cms/block')->load($opc_footer_right)->getIsActive()) : ?>
	     <span class="cms-footer-right">
	         <?php echo Mage::app()->getLayout()->createBlock('cms/block')->setBlockId($opc_footer_right)->toHtml(); ?>
	     </span>
	   <?php endif; ?>
	 	<!-- ECLOUD STATIC BLOCK 'opc-footer-right' -->
	</div>
</div>
<!--ECLOUD CUSTOM FOOTER-->
<script>
	var vopc = '<?php echo Mage::getConfig()->getModuleConfig("IWD_Opc")->version;?>';
	IWD.OPC.Checkout.config = '<?php echo $this->getJsonConfig()?>';
	<?php if ($this->getOnepage()->getQuote()->isVirtual()):?>
	IWD.OPC.Checkout.isVirtual = true;
	<?php endif;?>
</script>

<div id="agree_error" style="display:none !important;"><?php echo $this->__('Please agree to all the terms and conditions before placing the order.');?></div>
<div id="pssm_msg" style="display:none !important;"><?php echo $this->__('Please specify shipping method.');?></div>
<div class="opc-ajax-loader">
	<div id="floatingCirclesG">
		<div class="f_circleG" id="frotateG_01"></div>
		<div class="f_circleG" id="frotateG_02"></div>
		<div class="f_circleG" id="frotateG_03"></div>
		<div class="f_circleG" id="frotateG_04"></div>
		<div class="f_circleG" id="frotateG_05"></div>
		<div class="f_circleG" id="frotateG_06"></div>
		<div class="f_circleG" id="frotateG_07"></div>
		<div class="f_circleG" id="frotateG_08"></div>
	</div>
</div>
<div class="opc-message-wrapper design_package_<?php echo $package;?> design_theme_<?php echo $theme;?>">

	<div class="opc-messages">
		<a class="close-message-wrapper"><i class="fa fa-close"></i></a>
		<div class="opc-message-container"></div>
		<div class="opc-messages-action"><button class="button"><span><span><?php echo $this->__('Close')?></span></span></button></div>
	</div>
</div>