@font-face {
  font-family: 'AvenirLTStd';
  font-weight: normal;
  src: url("../fonts/AvenirLTStd-Medium.woff") format("woff");
}
@font-face {
  font-family: 'AvenirLTStd';
  font-weight: lighter;
  src: url("../fonts/AvenirLTStd-Light.woff") format("woff");
}
@font-face {
  font-family: 'AvenirLTStd';
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/AvenirLTStd-Heavy.woff") format("woff");
}
@font-face {
  font-family: 'AvenirLTStd';
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/AvenirLTStd-Medium.woff") format("woff");
}
@font-face {
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/AvenirLTStd-Light.woff") format("woff");
}
@font-face {
  font-family: 'Avenir';
  font-style: italic;
  font-weight: light;
  src: url("../fonts/AvenirLTStd-LightOblique.woff") format("woff");
}
@font-face {
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/AvenirLTStd-Book.woff") format("woff");
}
@font-face {
  font-family: 'Avenir';
  font-style: italic;
  font-weight: 300;
  src: url("../fonts/AvenirLTStd-BookOblique.woff") format("woff");
}
@font-face {
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/AvenirLTStd-Roman.woff") format("woff");
}
@font-face {
  font-family: 'Avenir';
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/AvenirLTStd-Oblique.woff") format("woff");
}
@font-face {
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/AvenirLTStd-Medium.woff") format("woff");
}
@font-face {
  font-family: 'Avenir';
  font-style: italic;
  font-weight: 500;
  src: url("../fonts/AvenirLTStd-MediumOblique.woff") format("woff");
}
@font-face {
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/AvenirLTStd-Black.woff") format("woff");
}
@font-face {
  font-family: 'Avenir';
  font-style: italic;
  font-weight: 800;
  src: url("../fonts/AvenirLTStd-BlackOblique.woff") format("woff");
}
@font-face {
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/AvenirLTStd-Heavy.woff") format("woff");
}
@font-face {
  font-family: 'Avenir';
  font-style: italic;
  font-weight: 900;
  src: url("../fonts/AvenirLTStd-HeavyOblique.woff") format("woff");
}
/*
// ----------------------------------------------
// Usage example:
// For IE set $mq-support to false.
// Set the fixed value.
// Then use mixins to test whether styles should be applied.
// ----------------------------------------------

$mq-support: false;
$mq-fixed-value: 1024;

// Renders at fixed value
@include bp (min-width, 300px) { 
    div { color:#000; }
}

// Doesn't render without MQ support
@include bp (min-width, 1200px) { 
    div { color:#FFF; }
}

// Doesn't render without MQ support
@include bp (max-width, 300px) { 
    div { color:#444; }
}

// Renders at fixed value
@include bp (max-width, 1200px) { 
    div { color:#888; }
}

// ----------------------------------------------
*/
/* ============================================ *
 * SCAFFOLD FORM
 * ============================================ */
/* Scaffolding can not be applied globally to all forms, since some forms are best displayed in a stacked layout */
.scaffold-form .form-list > li {
  display: block;
}
.scaffold-form .form-list > li:after {
  content: '';
  display: table;
  clear: both;
}
.scaffold-form .fields {
  margin: 0;
  padding: 0;
}
.scaffold-form .fields:after {
  content: '';
  display: table;
  clear: both;
}
.scaffold-form .fields > .fields,
.scaffold-form .field,
.scaffold-form .wide,
.scaffold-form .control {
  margin-bottom: 7px;
}
.scaffold-form .fields > .fields:after,
.scaffold-form .field:after,
.scaffold-form .wide:after,
.scaffold-form .control:after {
  content: '';
  display: table;
  clear: both;
}
.scaffold-form label:first-child {
  float: left;
  width: 135px;
  padding: 7px 8px 0 0;
}
.scaffold-form select,
.scaffold-form textarea,
.scaffold-form input[type=email],
.scaffold-form input[type=search],
.scaffold-form input[type=number],
.scaffold-form input[type=password],
.scaffold-form input[type=tel],
.scaffold-form input[type=text] {
  width: 330px;
  max-width: 100%;
}
.scaffold-form .input-box {
  float: left;
  max-width: 350px;
}
.scaffold-form .buttons-set {
  padding-top: 5px;
}

@media only screen and (max-width: 599px) {
  .scaffold-form label:first-child {
    float: none;
    width: auto;
    padding: 0;
  }
  .scaffold-form .input-box {
    float: none;
    max-width: 100%;
  }
  .scaffold-form .control .input-box {
    clear: none;
    float: left;
    display: inline;
    width: auto;
  }
  .scaffold-form .control label:first-child {
    float: left;
  }
}

/*# sourceMappingURL=scaffold-forms.css.map */
